@model QPR_Application.Models.ViewModels.CreateUserViewModel

@{
    ViewData["Title"] = "Create User";
}

<h2>Create User</h2>

<hr />
<div class="w-75 m-auto">
    <div class="col-md-6 m-auto">
        <form asp-action="CreateUser">
            @Html.AntiForgeryToken()
            @* <div asp-validation-summary="ModelOnly" class="text-danger"></div> *@
            <div class="form-group mt-3">
                <label asp-for="@Model.userid" class="control-label"></label>
                <input asp-for="@Model.userid" class="form-control" />
                <span asp-validation-for="@Model.userid" class="text-danger"></span>
                <small class="form-text text-muted">Enter a unique User ID for your account. This ID will be used for login.</small>
            </div>
            <div class="form-group mt-3">
                <label asp-for="@Model.name" class="control-label"></label>
                <input asp-for="@Model.name" class="form-control" />
                <span asp-validation-for="@Model.name" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="@Model.email" class="control-label"></label>
                <input asp-for="@Model.email" class="form-control" />
                <span asp-validation-for="@Model.email" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="@Model.OrgCode" class="control-label"></label>
                @Html.DropDownListFor(model => model.OrgCode, Model.organizationList, "Select", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.OrgCode, "", new { @class = "text-danger" })
            </div>
            <div class="form-group mt-3">
                <label asp-for="@Model.logintype" class="control-label"></label>
                @Html.DropDownListFor(model => model.logintype, ViewBag.LoginTypes as SelectList, "Select", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.logintype, "", new { @class = "text-danger" })
            </div>
            <div class="form-group mt-3">
                <label asp-for="@Model.loginroll" class="control-label"></label>
                <input asp-for="@Model.loginroll" class="form-control" />
                <span asp-validation-for="@Model.loginroll" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="@Model.desiganation" class="control-label">Designation</label>
                <input asp-for="@Model.desiganation" class="form-control" autocomplete="off" />
                <span asp-validation-for="@Model.desiganation" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="@Model.tenure" class="control-label"></label>
                <input asp-for="@Model.tenure" class="form-control datepicker" autocomplete="off" />
                <span asp-validation-for="@Model.tenure" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="@Model.bofficercode" class="control-label"></label>
                <input asp-for="@Model.bofficercode" class="form-control" />
                <span asp-validation-for="@Model.bofficercode" class="text-danger"></span>
            </div>
            @* <div class="form-group mt-3">
                <label asp-for="@Model.cvocode" class="control-label"></label>
                <input asp-for="@Model.cvocode" class="form-control" />
                <span asp-validation-for="@Model.cvocode" class="text-danger"></span>
            </div> *@
            <div class="form-group mt-3">
                <label asp-for="@Model.mobilenumber" class="control-label"></label>
                <input asp-for="@Model.mobilenumber" class="form-control" />
                <span asp-validation-for="@Model.mobilenumber" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="@Model.islocked" class="control-label"></label>
                @Html.DropDownListFor(model => model.islocked, ViewBag.EmpLock as SelectList, "Select", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.islocked, "", new { @class = "text-danger" })
            </div>
            <div class="form-group mt-3">
                <label asp-for="@Model.cvocontactnumberoffice" class="control-label"></label>
                <input asp-for="@Model.cvocontactnumberoffice" class="form-control" />
                <span asp-validation-for="@Model.cvocontactnumberoffice" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <div>
                    <label class="control-label me-4">Employment Type</label><br />
                </div>
                <div class="form-control">
                    <div class="d-flex justify-content-between" style="width:50%">
                        <div class="form-check">
                            <input asp-for="@Model.EmploymentType" type="radio" value="FullTime" class="form-check-input" id="fulltime" />
                            <label for="fulltime" class="form-check-label">Full Time</label>
                        </div>
                        <div class="form-check">
                            <input asp-for="@Model.EmploymentType" type="radio" value="PartTime" class="form-check-input" id="parttime" />
                            <label for="parttime" class="form-check-label">Part Time</label>
                        </div>
                    </div>
                </div>
                <span asp-validation-for="@Model.EmploymentType" class="text-danger"></span>
            </div>

            <div class="form-group mt-3 mt-2 d-flex justify-content-between">
                <div>
                    <a asp-action="AllUsers" class="btn btn-secondary">Back</a>
                </div>
                <div>
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
