@model QPR_Application.Models.Entities.registration

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="">
    @* <h4>registration</h4> *@
    <hr />
    <dl class="row w-75 m-auto">
        <dt class = "col-sm-2 mt-2">
            @Html.DisplayNameFor(model => model.userid)
        </dt>
        <dd class = "col-sm-10 mt-2">
            @Html.DisplayFor(model => model.userid)
        </dd>
        <dt class = "col-sm-2 mt-2">
            @Html.DisplayNameFor(model => model.password)
        </dt>
        <dd class = "col-sm-10 mt-2">
            @Html.DisplayFor(model => model.password)
        </dd>
        <dt class = "col-sm-2 mt-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class = "col-sm-10 mt-2">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class = "col-sm-2 mt-2">
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd class = "col-sm-10 mt-2">
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt class = "col-sm-2 mt-2">
            @Html.DisplayNameFor(model => model.organisation)
        </dt>
        <dd class = "col-sm-10 mt-2">
            @Html.DisplayFor(model => model.organisation)
        </dd>
        <dt class = "col-sm-2 mt-2">
            @Html.DisplayNameFor(model => model.logintype)
        </dt>
        <dd class = "col-sm-10 mt-2">
            @Html.DisplayFor(model => model.logintype)
        </dd>
        <dt class = "col-sm-2 mt-2">
            @Html.DisplayNameFor(model => model.loginroll)
        </dt>
        <dd class = "col-sm-10 mt-2">
            @Html.DisplayFor(model => model.loginroll)
        </dd>
        <dt class = "col-sm-2 mt-2">
            @Html.DisplayNameFor(model => model.desiganation)
        </dt>
        <dd class = "col-sm-10 mt-2">
            @Html.DisplayFor(model => model.desiganation)
        </dd>
        <dt class = "col-sm-2 mt-2">
            @Html.DisplayNameFor(model => model.createdate)
        </dt>
        <dd class = "col-sm-10 mt-2">
            @Html.DisplayFor(model => model.createdate)
        </dd>
        <dt class = "col-sm-2 mt-2">
            @Html.DisplayNameFor(model => model.tenure)
        </dt>
        <dd class = "col-sm-10 mt-2">
            @Html.DisplayFor(model => model.tenure)
        </dd>
        <dt class = "col-sm-2 mt-2">
            @Html.DisplayNameFor(model => model.bofficercode)
        </dt>
        <dd class = "col-sm-10 mt-2">
            @Html.DisplayFor(model => model.bofficercode)
        </dd>
        <dt class = "col-sm-2 mt-2">
            @Html.DisplayNameFor(model => model.cvocode)
        </dt>
        <dd class = "col-sm-10 mt-2">
            @Html.DisplayFor(model => model.cvocode)
        </dd>
        <dt class = "col-sm-2 mt-2">
            @Html.DisplayNameFor(model => model.mobilenumber)
        </dt>
        <dd class = "col-sm-10 mt-2">
            @Html.DisplayFor(model => model.mobilenumber)
        </dd>
        <dt class = "col-sm-2 mt-2">
            @Html.DisplayNameFor(model => model.islocked)
        </dt>
        <dd class = "col-sm-10 mt-2">
            @Html.DisplayFor(model => model.islocked)
        </dd>
        <dt class = "col-sm-2 mt-2">
            @Html.DisplayNameFor(model => model.lastmodified)
        </dt>
        <dd class = "col-sm-10 mt-2">
            @Html.DisplayFor(model => model.lastmodified)
        </dd>
        <dt class = "col-sm-2 mt-2">
            @Html.DisplayNameFor(model => model.passwordone)
        </dt>
        <dd class = "col-sm-10 mt-2">
            @Html.DisplayFor(model => model.passwordone)
        </dd>
        <dt class = "col-sm-2 mt-2">
            @Html.DisplayNameFor(model => model.passwordtwo)
        </dt>
        <dd class = "col-sm-10 mt-2">
            @Html.DisplayFor(model => model.passwordtwo)
        </dd>
        <dt class = "col-sm-2 mt-2">
            @Html.DisplayNameFor(model => model.postid)
        </dt>
        <dd class = "col-sm-10 mt-2">
            @Html.DisplayFor(model => model.postid)
        </dd>
        <dt class = "col-sm-2 mt-2">
            @Html.DisplayNameFor(model => model.firstlogin)
        </dt>
        <dd class = "col-sm-10 mt-2">
            @Html.DisplayFor(model => model.firstlogin)
        </dd>
        <dt class = "col-sm-2 mt-2">
            @Html.DisplayNameFor(model => model.status)
        </dt>
        <dd class = "col-sm-10 mt-2">
            @Html.DisplayFor(model => model.status)
        </dd>
        <dt class = "col-sm-2 mt-2">
            @Html.DisplayNameFor(model => model.cvocontactnumberoffice)
        </dt>
        <dd class = "col-sm-10 mt-2">
            @Html.DisplayFor(model => model.cvocontactnumberoffice)
        </dd>
        <dt class = "col-sm-2 mt-2">
            @Html.DisplayNameFor(model => model.fulltime)
        </dt>
        <dd class = "col-sm-10 mt-2">
            @Html.DisplayFor(model => model.fulltime)
        </dd>
        <dt class = "col-sm-2 mt-2">
            @Html.DisplayNameFor(model => model.parttime)
        </dt>
        <dd class = "col-sm-10 mt-2">
            @Html.DisplayFor(model => model.parttime)
        </dd>
    </dl>
</div>
<div class="d-flex justify-content-between m-3">
    <a class="btn btn-secondary" asp-action="AllUsers">Back to List</a>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.usercode">Edit</a>
</div>
