@model QPR_Application.Models.ViewModels.AllUsersViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="">
    @* <h4>registration</h4> *@
    <hr />
    <dl class="row w-75 m-auto">
        <dt class = "col-sm-2 mt-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10 mt-2">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        @* <dt class = "col-sm-2 mt-2">
            @Html.DisplayNameFor(model => model.password)
        </dt>
        <dd class = "col-sm-10 mt-2">
            @Html.DisplayFor(model => model.password)
        </dd> *@
        <dt class = "col-sm-2 mt-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10 mt-2">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2 mt-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10 mt-2">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2 mt-2">
            @Html.DisplayNameFor(model => model.Organisation)
        </dt>
        <dd class = "col-sm-10 mt-2">
            @Html.DisplayFor(model => model.Organisation)
        </dd>
        <dt class = "col-sm-2 mt-2">
            @Html.DisplayNameFor(model => model.Logintype)
        </dt>
        <dd class = "col-sm-10 mt-2">
            @Html.DisplayFor(model => model.Logintype)
        </dd>
        @* <dt class = "col-sm-2 mt-2">
            @Html.DisplayNameFor(model => model.loginroll)
        </dt>
        <dd class = "col-sm-10 mt-2">
            @Html.DisplayFor(model => model.loginroll)
        </dd> *@
        <dt class = "col-sm-2 mt-2">
            @Html.DisplayNameFor(model => model.Designation)
        </dt>
        <dd class = "col-sm-10 mt-2">
            @Html.DisplayFor(model => model.Designation)
        </dd>
        <dt class = "col-sm-2 mt-2">
            @Html.DisplayNameFor(model => model.createdate)
        </dt>
        <dd class = "col-sm-10 mt-2">
            @Html.DisplayFor(model => model.createdate)
        </dd>
        <dt class = "col-sm-2 mt-2">
            @Html.DisplayNameFor(model => model.tenure)
        </dt>
        <dd class = "col-sm-10 mt-2">
            @Html.DisplayFor(model => model.tenure)
        </dd>
        <dt class = "col-sm-2 mt-2">
            @Html.DisplayNameFor(model => model.bofficercode)
        </dt>
        <dd class = "col-sm-10 mt-2">
            @Html.DisplayFor(model => model.bofficercode)
        </dd>
        <dt class = "col-sm-2 mt-2">
            @Html.DisplayNameFor(model => model.cvocode)
        </dt>
        <dd class = "col-sm-10 mt-2">
            @Html.DisplayFor(model => model.cvocode)
        </dd>
        <dt class = "col-sm-2 mt-2">
            @Html.DisplayNameFor(model => model.mobilenumber)
        </dt>
        <dd class = "col-sm-10 mt-2">
            @Html.DisplayFor(model => model.mobilenumber)
        </dd>
        <dt class = "col-sm-2 mt-2">
            @Html.DisplayNameFor(model => model.islocked)
        </dt>
        <dd class = "col-sm-10 mt-2">
            @Html.DisplayFor(model => model.islocked)
        </dd>
        <dt class = "col-sm-2 mt-2">
            @Html.DisplayNameFor(model => model.LastModified)
        </dt>
        <dd class = "col-sm-10 mt-2">
            @Html.DisplayFor(model => model.LastModified)
        </dd>
        @* <dt class = "col-sm-2 mt-2">
            @Html.DisplayNameFor(model => model.passwordone)
        </dt>
        <dd class = "col-sm-10 mt-2">
            @Html.DisplayFor(model => model.passwordone)
        </dd>
        <dt class = "col-sm-2 mt-2">
            @Html.DisplayNameFor(model => model.passwordtwo)
        </dt>
        <dd class = "col-sm-10 mt-2">
            @Html.DisplayFor(model => model.passwordtwo)
        </dd> *@
        <dt class = "col-sm-2 mt-2">
            @Html.DisplayNameFor(model => model.postid)
        </dt>
        <dd class = "col-sm-10 mt-2">
            @Html.DisplayFor(model => model.postid)
        </dd>
        <dt class = "col-sm-2 mt-2">
            @Html.DisplayNameFor(model => model.firstlogin)
        </dt>
        <dd class = "col-sm-10 mt-2">
            @Html.DisplayFor(model => model.firstlogin)
        </dd>
        <dt class = "col-sm-2 mt-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10 mt-2">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2 mt-2">
            @Html.DisplayNameFor(model => model.CvoContactNumberOffice)
        </dt>
        <dd class = "col-sm-10 mt-2">
            @Html.DisplayFor(model => model.CvoContactNumberOffice)
        </dd>
        <dt class = "col-sm-2 mt-2">
            @Html.DisplayNameFor(model => model.EmployeeType)
        </dt>
        <dd class = "col-sm-10 mt-2">
            @Html.DisplayFor(model => model.EmployeeType)
        </dd>
        @* <dt class = "col-sm-2 mt-2">
            @Html.DisplayNameFor(model => model.fulltime)
        </dt>
        <dd class = "col-sm-10 mt-2">
            @Html.DisplayFor(model => model.fulltime)
        </dd>
        <dt class = "col-sm-2 mt-2">
            @Html.DisplayNameFor(model => model.parttime)
        </dt>
        <dd class = "col-sm-10 mt-2">
            @Html.DisplayFor(model => model.parttime)
        </dd> *@
    </dl>
</div>
<div class="d-flex justify-content-between m-3">
    <a class="btn btn-secondary" asp-action="AllUsers">Back to List</a>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.UserCode">Edit</a>
</div>
