@model QPR_Application.Models.ViewModels.EditUserViewModel

@{
    ViewData["Title"] = "Edit";
}

<h3>Edit @Model.Name</h3>

<hr />
<div class="row d-flex justify-content-center">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserCode" />
            <div class="form-group mt-2">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group mt-3">
                <label asp-for="OrgCode" class="control-label"></label>
                @Html.DropDownListFor(
                         model => model.OrgCode,
                         ViewBag.OrganisationsList as SelectList,
                         "Select an Organisation", // Placeholder text
                         new { @class = "form-control" }
                         )
                @Html.ValidationMessageFor(model => model.OrgCode, "", new { @class = "text-danger" })
            </div>

            <div class="form-group mt-2">
                <label asp-for="LoginType" class="control-label"></label>
                @Html.DropDownListFor(model => model.LoginType, ViewBag.LoginTypes as SelectList, "Select", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.LoginType, "", new { @class = "text-danger" })
            </div>
            <div class="form-group mt-2">
                <label asp-for="LoginRoll" class="control-label"></label>
                <input asp-for="LoginRoll" class="form-control" />
                <span asp-validation-for="LoginRoll" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="Designation" class="control-label"></label>
                <input asp-for="Designation" class="form-control" />
                <span asp-validation-for="Designation" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="Tenure" class="control-label"></label>
                <input asp-for="Tenure" class="form-control" />
                <span asp-validation-for="Tenure" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="BoOfficerCode" class="control-label"></label>
                <input asp-for="BoOfficerCode" class="form-control" />
                <span asp-validation-for="BoOfficerCode" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="Cvocode" class="control-label"></label>
                <input asp-for="Cvocode" class="form-control" />
                <span asp-validation-for="Cvocode" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="MobileNumber" class="control-label"></label>
                <input asp-for="MobileNumber" class="form-control" />
                <span asp-validation-for="MobileNumber" class="text-danger"></span>
            </div>

            <div class="form-group mt-2">
                <label asp-for="@Model.IsLocked" class="control-label"></label>
                @Html.DropDownListFor(model => model.IsLocked, ViewBag.EmpLock as SelectList, "Select", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IsLocked, "", new { @class = "text-danger" })
            </div>
            <div class="form-group mt-2">
                <label asp-for="PostId" class="control-label"></label>
                <input asp-for="PostId" class="form-control" />
                <span asp-validation-for="PostId" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="@Model.Status" class="control-label"></label>
                @Html.DropDownListFor(model => model.Status, ViewBag.StatusList as SelectList, "Select", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
            </div>
            <div class="form-group mt-2">
                <label asp-for="CvocontactNumberOffice" class="control-label"></label>
                <input asp-for="CvocontactNumberOffice" class="form-control" />
                <span asp-validation-for="CvocontactNumberOffice" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="EmploymentType" class="control-label"></label>
                <div class="form-control">
                    <div class="d-flex justify-content-between" style="width:50%">
                        <div class="form-check">
                            <input type="radio" asp-for="EmploymentType" value="Full time" id="fulltime" />
                            <label for="fulltime">Full Time</label>
                        </div>
                        <div class="form-check">
                            <input type="radio" asp-for="EmploymentType" value="Part time" id="parttime" />
                            <label for="parttime">Part Time</label>
                        </div>
                    </div>
                </div>
                <span asp-validation-for="EmploymentType" class="text-danger"></span>
            </div>

            <div class="form-group mt-5 d-flex justify-content-between">
                <div>
                    @* <a asp-action="AllUsers" class="btn btn-secondary">Back</a> *@
                    <a class="btn btn-secondary" asp-action="Details" asp-route-id="@Model.UserCode">Back</a>
                </div>
                <div>
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
