@model List<QPR_Application.Models.Entities.UserRequests>

@{
    ViewData["Title"] = "ViewRequestStatus";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    int index = 0;
}

<style>
    td {
        align-content: center !important
    }
</style>

<div>
    <div class="row">
        <div class="col">
            <h1>View Resolved Request</h1>
        </div>
    </div>
</div>

<div class="table-responsive mt-3" style="margin-bottom:30em;">
    <table id="example1" class="table table-striped table-bordered pt-1">
        <thead class="table-primary">
            <tr class="text-center">
                <th class="text-center">
                    S No.
                </th>
                <th class="text-center">
                    Subject
                </th>
                <th class="text-center">
                    Description
                </th>
                <th class="text-center">
                    Created
                </th>
                <th class="text-center">
                    Qtr Year
                </th>
                <th class="text-center">
                    Quarter
                </th>
                <th class="text-center">
                    Action Taken
                </th>
                <th class="text-center">
                    Remarks
                </th>
                <th class="text-center">
                    View Details
                </th>
            </tr>
        </thead>
        @* SOController *@
        <tbody style="font-size: 0.9em">
            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-center">
                        @(++index)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.subject)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.description)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.created_date)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.qtryear)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.qtrQuarterName) 
                        @* (@Html.DisplayFor(modelItem => item.qtrreport)) *@
                        @(item.qtrreport == 0 ? "N/A" : "")
                    </td>
                    <td class="text-center" style="font-weight:700">
                        <span class="@(string.IsNullOrEmpty(item.ActionTaken) ? "text-danger" : "") @(item.ActionTaken == "Approved" ? "text-success" : "text-danger")">@(string.IsNullOrEmpty(item.ActionTaken) ? "Action Pending" : item.ActionTaken)</span>
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.Remarks)
                    </td>
                    <td class="text-center">
                        <a class="btn btn-sm btn-outline-primary" href="@Url.Action("ViewRequestDetails" , new {request_id = item.request_id, isReadonly = true})">View Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
