@model IEnumerable<QPR_Application.Models.Entities.registration>

@{
    ViewData["Title"] = "AllUsers";
}

<h1>AllUsers</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="table-responsive">
    <table id="example1" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.userid)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.password)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.organisation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.logintype)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.loginroll)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.desiganation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.createdate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.tenure)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.bofficercode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.cvocode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.mobilenumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.islocked)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.lastmodified)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.passwordone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.passwordtwo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.postid)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.firstlogin)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.cvocontactnumberoffice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.fulltime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.parttime)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.userid)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.password)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.organisation)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.logintype)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.loginroll)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.desiganation)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.createdate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tenure)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.bofficercode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.cvocode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.mobilenumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.islocked)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.lastmodified)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.passwordone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.passwordtwo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.postid)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.firstlogin)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.cvocontactnumberoffice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.fulltime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.parttime)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.usercode">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.usercode">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.usercode">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#example1').DataTable();
        });
    </script>
}
