@model QPR_Application.Models.ViewModels.CVO_TrainingViewModel
@{
    ViewData["Title"] = "CVO Training";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="text-center">
    <h3>Training Conducted During the Quarter </h3>
</div>
<hr />
<div class="w-75 m-auto">
    <table class="table table-striped table-bordered w-100 text-align-middle table-blue table-padding">
        <tbody>
            <tr style="margin-top:10px;">
                <td width="15%" align="left" valign="middle">
                    Training Conducted During The Quarter
                </td>
                <td colspan="3" width="35%" align="left">
                    <span class="d-flex">
                        <input type="button" id="add-new-training" class="btn btn-outline-primary ms-1" value="Add Row" style="width: 10%">
                    </span>
                    <input id="totRows" type="hidden" value="@Model.Training_CVO_List.Count">
                </td>

            </tr>
            <tr></tr>
            <tr class="text-center">
                <th>
                    <b>Sr. No</b>
                </th>
                <th style="width:20%">
                    <b>Particulars of Training</b>
                </th>
                <th style="width:20%">
                    <b>Description (If Other)</b>
                </th>
                <th style="width:20%">
                    <b>No. of Training Programmes Conducted</b>
                </th>
                <th style="width:20%">
                    <b>No. of Employees Imparted Training</b>
                </th>

            </tr>
            <tr class="text-center tr-grey">
                <td><b>(1)</b></td>
                <td><b>(2)</b></td>
                <td><b>(3)</b></td>
                <td><b>(4)</b></td>
                <td><b>(5)</b></td>
            </tr>


            @if (Model.Training_CVO_List.Count == 0)
            {
                <tr>
                    <td colspan="4" class="text-center">NIL</td>
                </tr>
            }
            else
            {
                @for (int i = 0; i < Model.Training_CVO_List.Count; i++)
                {
                    <tr class="text-center">
                        <td style="width:5%">@(i + 1)</td>
                        <td>    @Model.Training_CVO_List[i].Training_Name
                            @* @if (Model.Training_CVO_List[i].Training_Name == "Other")
                            {
                                <div>@Model.Training_CVO_List[i].Training_Name</div>
                                <br />
                                <div>@Model.Training_CVO_List[i].Other_Description</div>
                            }
                            else
                            {
                                <div>@Model.Training_CVO_List[i].Training_Name</div>
                            } *@
                        </td>
                        <td>@Model.Training_CVO_List[i].Other_Description</td>
                        <td>@Model.Training_CVO_List[i].No_of_Trg_Conducted</td>
                        <td>@Model.Training_CVO_List[i].No_of_Emp_Trained</td>
                    </tr>
                }
                <tr class="text-center">
                    <td>Total</td>
                    <td></td>
                    <td></td>
                    <td>@Model.Total_Training_Programs_Conducted</td>
                    <td>@Model.Total_Employees_Trained</td>
                </tr>
            }

        </tbody>
    </table>
</div>
<br />
<form asp-action="CVO_Training" id="CVO_TrainingQPRForm">
    @Html.AntiForgeryToken()
    <div class="w-75 m-auto d-none" id="newRow">
        <table class="table table-striped table-bordered w-100 text-align-middle table-blue table-padding">
            <tr></tr>
            <tr class="text-center">
                <th>
                    <b>Sr.No</b>
                </th>
                <th>
                    <b>Other (Description)</b>
                </th>
                <th>
                    <b>Description (If Other)</b>
                </th>
                <th>
                    <b>No. of Training Programmes Conducted</b>
                </th>
                <th>
                    <b>No. of Employees Imparted Training</b>
                </th>
                <th>
                    <b>Action</b>
                </th>
            </tr>
            <tr class="text-center tr-grey">
                <td><b>(1)</b></td>
                <td><b>(2)</b></td>
                <td><b>(3)</b></td>
                <td><b>(4)</b></td>
                <td><b>(5)</b></td>
                <td><b>(6)</b></td>
            </tr>
            <tr class="text-center ">
                <td>@(Model.Training_CVO_List.Count + 1)</td>
                <td>
                    <select asp-for="New_Training_CVO.Training_Name" asp-items="Model.MasterTrainingList" class="form-control text-center" onchange="HandleChange()"></select>
                </td>
                <td>
                    <textarea asp-for="New_Training_CVO.Other_Description" class="form-control" rows="1" readonly></textarea>
                </td>

                <td>
                    <input asp-for='New_Training_CVO.No_of_Trg_Conducted' class='form-control ' />

                </td>
                <td>
                    <input asp-for='New_Training_CVO.No_of_Emp_Trained' class='form-control ' />
                </td>
                <td>
                    <input type="submit" value="Save" class="btn btn-success" asp-action="SaveCVO_Training" onclick="return validateFields()" />
                    <input type="submit" value="Delete" class="btn btn-outline-danger mt-1" onclick="hideRow()" />
                </td>
            </tr>
        </table>
    </div>
    <div class="d-flex justify-content-between w-80 m-auto" style="margin-top: 30em!important">
        <a class="btn btn-secondary" asp-action="PreventiveVigilanceActivities">Back</a>
        <input type="submit" value="Save" class="btn btn-success" asp-action="SaveCVO_Training" onclick="return validateFields()" />
        <input type="submit" value="Next" class="btn btn-primary " onclick="confirmFormSubmission('CVO_TrainingQPRForm')" />
    </div>
</form>


<script>
    document.getElementById('add-new-training').addEventListener('click', function () {
        $('#New_Training_CVO_Training_Name').attr('required', true);
        $('#New_Training_CVO_No_of_Trg_Conducted').attr('required', true);
        $('#New_Training_CVO_No_of_Emp_Trained').attr('required', true);
        $('#New_Training_CVO_Other_Description').removeAttr('required');
        $('#New_Training_CVO_Other_Description').val('N/A');
        $('#newRow').removeClass('d-none');
        $('#add-new-training').removeClass('btn-outline-primary');
        $('#add-new-training').addClass('btn-outline-secondary');
        $('#add-new-training').addClass('disabled');
    });

    function hideRow() {
        event.preventDefault();
        $('#New_Training_CVO_Training_Name').removeAttr('required');
        $('#New_Training_CVO_Other_Description').removeAttr('required');
        $('#New_Training_CVO_No_of_Trg_Conducted').removeAttr('required');
        $('#New_Training_CVO_No_of_Emp_Trained').removeAttr('required');
        // $('#New_Training_CVO_Training_Name').val('');
        $('#New_Training_CVO_Other_Description').val('');
        $('#New_Training_CVO_No_of_Trg_Conducted').val('');
        $('#New_Training_CVO_No_of_Emp_Trained').val('');
        $('#newRow').addClass('d-none');
        $('#add-new-training').addClass('btn-outline-primary');
        $('#add-new-training').removeClass('btn-outline-secondary');
        $('#add-new-training').removeClass('disabled');
        $('#New_Training_CVO_Training_Name')[0].selectedIndex = 0;
    }

    function HandleChange() {
        // alert($('#New_Training_CVO_Training_Name').val() )
        // console.log($('#New_Training_CVO_Training_Name'))
        var selectedTraining = $('#New_Training_CVO_Training_Name').val();
        if (selectedTraining == "Other") {
            $('#New_Training_CVO_Other_Description').attr('required', true);
            $('#New_Training_CVO_Other_Description').val('');
            $('#New_Training_CVO_Other_Description').prop('readonly', false); // Remove read-only

        } else {
            $('#New_Training_CVO_Other_Description').removeAttr('required');
            $('#New_Training_CVO_Other_Description').prop('readonly', true); // Set to read-only
            $('#New_Training_CVO_Other_Description').val('N/A');
        }
    }
</script>
<script>
    $(function () {
        var complaintsMessage = '@ViewBag.ComplaintsMessage';
        if (complaintsMessage) {
            var notificationIcon = 'error';

            if (complaintsMessage == 'Saved' || complaintsMessage == 'Deleted successfully') {
                notificationIcon = 'success'
            }

            if (complaintsMessage.includes('Error')) {
                notificationIcon = 'error'
            }

            Swal.fire({
                // title: complaintsMessage,
                text: complaintsMessage,
                icon: notificationIcon,
                confirmButtonText: 'Okay'
            }).then((result) => {
                if (result.isConfirmed) {
                    pageReloadWithoutQueryString();
                } else {
                    // Optional: Handle cancel action
                }
            });
        }
    });
</script>

