@using QPR_Application.Models.DTO.Response;

@model QPR_Application.Models.DTO.Request.GetQPR;

@{
    ViewData["Title"] = "QPR";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    IEnumerable<Years> years = (IEnumerable<Years>)ViewBag.Years;
    var Quarters = (IEnumerable<SelectListItem>)ViewBag.Quarters;
    var redirectLink = ViewBag.VAW_URL;
}

<div class="mt-5 mb-5" style="margin-bottom: 26em !important">
    <div class="d-flex">
        <div>
            <h3 style="font-weight:400">Welcome @ViewBag.User.userid</h3>
        </div>
        <div class="ms-auto">
            <a class="ms-3 btn btn-primary" href="@Url.Action("Index","Dashboard")" >Back</a>
        </div>
    </div>
    @* <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
    <div class="w-75 m-auto mt-5">
        <form asp-action="Index">
            <div class="p-3" style="border: 1px solid #73AD21 !important">
                <div class="row">
                    <div class="col-md-4 align-content-center">
                        <label>NAME OF MINISTRY/DEPTT/ORGANISATION : </label>
                    </div>

                    <div class="col-md-4 ">
                        <input class="form-control text-center" style="border: 1px solid #ced4da" value="@ViewBag.User.organisation" readonly />
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-4 align-content-center">
                        <label>REPORT FOR THE QUARTER ENDING  : </label>
                    </div>
                    <div class="form-group col-md-2">
                        @Html.DropDownList("SelectedYear", new SelectList(years, "Year", "Year"), "------ Select Year ------", new { @class = "form-control text-center ", id = "yearDropdown", onChange = "quarterSelection()" })
                        <span asp-validation-for="SelectedYear" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-2">
                        @Html.DropDownList("SelectedQuarter", new SelectList(Quarters, "Value", "Text"), "------ Select Quarter ------", new { @class = "form-control text-center ", id = "quarterDropdown", })
                        <span asp-validation-for="SelectedQuarter" class="text-danger"></span>
                        <span class="d-none text-danger" id="selectQuarterValidation">Please select a quarter.</span>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-4 align-content-center">
                        <label>CVO CONTACT NO. :</label>
                    </div>
                    <div class="col-md-3">
                        <input class="form-control text-center w-50" type="tel" onkeypress="return isNumberKey(event);" name="CVCContactNo" asp-for="CVCContactNo" id="CVCContactNo" maxlength="15" />
                        <span asp-validation-for="CVCContactNo" class="text-danger"></span>
                    </div>
                    <div class="col-md-2 align-content-center">
                        <label>MOBILE NO. :</label>
                    </div>
                    <div class="col-md-3">
                        <input class="form-control text-center w-50" type="tel" onkeypress="return isNumberKey(event);" name="MobileNo" asp-for="MobileNo" id="MobileNo" value="@ViewBag.User.mobilenumber" readonly />
                        <span asp-validation-for="MobileNo" class="text-danger"></span>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-4 align-content-center">
                        <label>Email : </label>
                    </div>
                    <div class="col-md-3">
                        <input class="form-control text-center" type="email" name="CVOEmail" asp-for="CVOEmail" id="CVOEmail" value="@ViewBag.User.email" />
                        <span asp-validation-for="CVOEmail" class="text-danger"></span>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-4 align-content-center">
                        <label>Full Time : </label>
                    </div>
                    <div class="col-md-3">
                        <input type="checkbox" name="CVOFulltime" asp-for="CVOFulltime" id="CVOFulltime" class="myCheckboxClass" />

                    </div>
                    <div class="col-md-2">
                        <label>Part Time : </label>
                    </div>
                    <div class="col-md-3">
                        <input type="checkbox" name="CVOParttime" asp-for="CVOParttime" id="CVOParttime" class="myCheckboxClass" />

                    </div>
                </div>
                <div class="row mt-2 d-none" id="FullTime_PartTime_Validation">
                    <div class="col-12 text-center">
                        <span class="text-danger"> Please select either Fulltime or Parttime </span>
                    </div>
                </div>
            </div>
            @* <hr /> *@
            <div class="d-flex mt-2 justify-content-center">
                <button type="submit" class="btn btn-primary">Next</button>
            </div>
        </form>
    </div>
</div>



<script>
    $('.myCheckboxClass').click(function () {
        $('#FullTime_PartTime_Validation').addClass('d-none');
        $('.myCheckboxClass').not(this).prop('checked', false);
    });

    $('button[type="submit"]').click(function (e) {
        $('#selectQuarterValidation').addClass('d-none');
        var selectedYear = $('#yearDropdown').val();
        var selectedQuarter = $('#quarterDropdown').val();
        var contactNumber = $('#CVCContactNo').val();
        var cvoFulltime = $('#CVOFulltime').prop('checked');
        var cvoParttime = $('#CVOParttime').prop('checked');
        // //debugger;
        if (selectedYear != '' && (selectedQuarter == '' || selectedQuarter == 0)) {
            e.preventDefault();
            $('#selectQuarterValidation').removeClass('d-none');
            return;
        }
        if ((cvoFulltime === false && cvoParttime === false) && (selectedYear != '' && selectedQuarter != '' && contactNumber != '')) {
            e.preventDefault(); // Prevent form submission
            $('#FullTime_PartTime_Validation').removeClass('d-none'); // Show validation message
        }
    });
</script>
<script>
    function quarterSelection() {
        var year = document.getElementById("yearDropdown").value;
        var currentYear = new Date().getFullYear();
        var currentMonth = (new Date().getMonth()) + 1;
        // alert('year : ' + year);
        var options0 = "<option value=\"0\">------ Select Quarter ------</option>";
        var options1 = "<option value=" + 1 + ">January to March</option>";
        var options2 = "<option value=" + 2 + ">April to June</option>";
        var options3 = "<option value=" + 3 + ">July to September</option>";
        var options4 = "<option value=" + 4 + ">October to December</option>";
        if (year < currentYear) {
            var options = options0 + options1 + options2 + options3 + options4

            document.getElementById("quarterDropdown").innerHTML = options;
        }
        else if (year == currentYear) {

            var options = options0;

            if (currentMonth > 3 && currentMonth <= 6) {
                options += options1;
            }
            else if (currentMonth > 6 && currentMonth <= 9) {
                options += options1 + options2;

            }
            else if (currentMonth > 9 && currentMonth <= 12) {
                options += options1 + options2 + options3;
            }


            document.getElementById("quarterDropdown").innerHTML = options;
        }
    }
</script>

