@model QPR_Application.Models.ViewModels.PreventiveVigilanceViewModel

@{
    ViewData["Title"] = "PreventiveVigilance";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="text-center">
    <h3>Preventive Vigilance</h3>
</div>
<hr />


<form asp-action="PreventiveVigilance" id="PreventiveVigilanceQPRForm" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>


    @* <a href="~/pdf/senitivepost_example.pdf" target="_blank">~/pdf/senitivepost_example.pdf</a> *@


    <div class="w-80 mt-5 mb-3 box-green ">
        <b>
            8.1 Preventive Vigilance Measures(Nos)
        </b>
    </div>

    <div class="w-80 mt-2 mb-3 box-green ">
        <b>
            8.1(A) By The CVO
        </b>
    </div>


    <div class="w-75 m-auto">
        <table class="table table-striped table-bordered w-100 text-align-middle table-blue table-padding">
            <tbody>
                <tr></tr>
                <tr class="text-center">
                    <th rowspan="2"><b>Type</b></th>
                    <th rowspan="2"><b>Up to end of the previous quarter</b></th>
                    <th rowspan="2"><b>During the quarter</b></th>
                    <th rowspan="2"><b>No.resulting in Vig.Cases / System Improvement</b></th>
                    <th rowspan="2"><b>Recovery effected,if any (in Rs.)</b></th>
                </tr>
                <tr></tr>
                <tr class="text-center tr-grey">
                    <td>&nbsp;<b>(1)</b></td>
                    <td>&nbsp;<b>(2)</b></td>
                    <td>&nbsp;<b>(3)</b></td>
                    <td>&nbsp;<b>(4)</b></td>
                    <td>&nbsp;<b>(5)</b></td>
                </tr>
                <tr>
                    <td align="left">&nbsp;&nbsp;<b>Periodic Inspection</b></td>
                    <td><b><input asp-for="PreventiveVigilanceQRS.preventivevig_bycvo_periodic_end_previous_qtr" onkeypress="return isNumberKey(event);" class="form-control" readonly ></b></td>
                    <td><b><input asp-for="PreventiveVigilanceQRS.preventivevig_bycvo_periodic_during_qtr" onkeypress="return isNumberKey(event);" class="form-control"></b></td>
                    <td><b><input asp-for="PreventiveVigilanceQRS.preventivevig_bycvo_periodic_system_improvement" onkeypress="return isNumberKey(event);" class="form-control"></b></td>
                    <td><b><input asp-for="PreventiveVigilanceQRS.preventivevig_bycvo_periodic_recovery_effected" onkeypress="return isNumberKey(event);" class="form-control"></b></td>
                </tr>
                <tr>
                    <td align="left">&nbsp;&nbsp;<b>Surprise Inspection</b></td>
                    <td><b><input asp-for="PreventiveVigilanceQRS.preventivevig_bycvo_surprise_end_previous_qtr" onkeypress="return isNumberKey(event);" class="form-control" readonly></b></td>
                    <td><b><input asp-for="PreventiveVigilanceQRS.preventivevig_bycvo_surprise_during_qtr" onkeypress="return isNumberKey(event);" class="form-control"></b></td>
                    <td><b><input asp-for="PreventiveVigilanceQRS.preventivevig_bycvo_surprise_system_improvement" onkeypress="return isNumberKey(event);" class="form-control"></b></td>
                    <td><b><input asp-for="PreventiveVigilanceQRS.preventivevig_bycvo_surprise_recovery_effected" onkeypress="return isNumberKey(event);" class="form-control"></b></td>
                </tr>
                <tr>
                    <td align="left">&nbsp;&nbsp;<b>Major Work / Procurements-CTE Type &nbsp;&nbsp;Inspection</b></td>
                    <td><b><input asp-for="PreventiveVigilanceQRS.preventivevig_bycvo_majorwork_end_previous_qtr" onkeypress="return isNumberKey(event);" class="form-control" readonly></b></td>
                    <td><b><input asp-for="PreventiveVigilanceQRS.preventivevig_bycvo_majorwork_during_qtr" onkeypress="return isNumberKey(event);" class="form-control"></b></td>
                    <td><b><input asp-for="PreventiveVigilanceQRS.preventivevig_bycvo_majorwork_system_improvement" onkeypress="return isNumberKey(event);" class="form-control"></b></td>
                    <td><b><input asp-for="PreventiveVigilanceQRS.preventivevig_bycvo_majorwork_recovery_effected" onkeypress="return isNumberKey(event);" class="form-control"></b></td>
                </tr>
                <tr>
                    <td align="left">&nbsp;&nbsp;<b>Scrutiny of Files</b></td>
                    <td><b><input asp-for="PreventiveVigilanceQRS.preventivevig_bycvo_scrutiny_file_end_previous_qtr" onkeypress="return isNumberKey(event);" class="form-control" readonly></b></td>
                    <td><b><input asp-for="PreventiveVigilanceQRS.preventivevig_bycvo_scrutiny_file_during_qtr" onkeypress="return isNumberKey(event);" class="form-control"></b></td>
                    <td><b><input asp-for="PreventiveVigilanceQRS.preventivevig_bycvo_scrutiny_file_system_improvement" onkeypress="return isNumberKey(event);" class="form-control"></b></td>
                    <td><b><input asp-for="PreventiveVigilanceQRS.preventivevig_bycvo_scrutiny_file_recovery_effected" onkeypress="return isNumberKey(event);" class="form-control"></b></td>
                </tr>
                <tr>
                    <td align="left">&nbsp;&nbsp;<b>Scrutiny of Property Returns</b></td>
                    <td><b><input asp-for="PreventiveVigilanceQRS.preventivevig_bycvo_scrutiny_property_end_previous_qtr" onkeypress="return isNumberKey(event);" class="form-control" readonly></b></td>
                    <td><b><input asp-for="PreventiveVigilanceQRS.preventivevig_bycvo_scrutiny_property_during_qtr" onkeypress="return isNumberKey(event);" class="form-control"></b></td>
                    <td><b><input asp-for="PreventiveVigilanceQRS.preventivevig_bycvo_scrutiny_property_system_improvement" onkeypress="return isNumberKey(event);" class="form-control"></b></td>
                    <td><b><input asp-for="PreventiveVigilanceQRS.preventivevig_bycvo_scrutiny_property_recovery_effected" onkeypress="return isNumberKey(event);" class="form-control"></b></td>
                </tr>
                <tr>
                    <td align="left">&nbsp;&nbsp;<b>Audit reports examined</b></td>
                    <td><b><input asp-for="PreventiveVigilanceQRS.preventivevig_bycvo_audit_reports_end_previous_qtr" onkeypress="return isNumberKey(event);" class="form-control" readonly></b></td>
                    <td><b><input asp-for="PreventiveVigilanceQRS.preventivevig_bycvo_audit_reports_during_qtr" onkeypress="return isNumberKey(event);" class="form-control"></b></td>
                    <td><b><input asp-for="PreventiveVigilanceQRS.preventivevig_cvc_audit_reports_system_improvement" onkeypress="return isNumberKey(event);" class="form-control"></b></td>
                    <td><b><input asp-for="PreventiveVigilanceQRS.preventivevig_bycvo_audit_reports_recovery_effected" onkeypress="return isNumberKey(event);" class="form-control"></b></td>
                </tr>
                <tr>
                    <td align="left">&nbsp;&nbsp;<b>Training Programs / &nbsp;&nbsp;Workshopsheld</b></td>
                    <td><b><input asp-for="PreventiveVigilanceQRS.preventivevig_bycvo_training_programs_end_previous_qtr" onkeypress="return isNumberKey(event);" class="form-control" readonly></b></td>
                    <td><b><input asp-for="PreventiveVigilanceQRS.preventivevig_bycvo_training_programs_during_qtr" onkeypress="return isNumberKey(event);" class="form-control"></b></td>
                    <td><b><input asp-for="PreventiveVigilanceQRS.preventivevigi_bycvo_training_programs_system_improvement" onkeypress="return isNumberKey(event);" class="form-control"></b></td>
                    <td><b><input asp-for="PreventiveVigilanceQRS.preventivevigi_bycvo_training_programs_recovery_effected" onkeypress="return isNumberKey(event);" class="form-control"></b></td>
                </tr>
                <tr>
                    <td align="left">&nbsp;&nbsp;<b>System Improvements &nbsp;&nbsp;undertaken</b></td>
                    <td><b><input asp-for="PreventiveVigilanceQRS.preventivevigi_bycvo_system_improvements_end_previous_qtr" onkeypress="return isNumberKey(event);" class="form-control" readonly></b></td>
                    <td><b><input asp-for="PreventiveVigilanceQRS.preventivevigi_bycvo_system_improvements_during_qtr" onkeypress="return isNumberKey(event);" class="form-control"></b></td>
                    <td><b><input asp-for="PreventiveVigilanceQRS.preventivevigi_bycvo_system_improvements_system_improvement" onkeypress="return isNumberKey(event);" class="form-control"></b></td>
                    <td><b><input asp-for="PreventiveVigilanceQRS.preventivevigi_bycvo_system_improvements_recovery_effected" onkeypress="return isNumberKey(event);" class="form-control"></b></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="w-80 mt-5 mb-3 box-green ">
        <b>
            8.(B) By the Administration / Management
        </b>
    </div>
    <div class="w-80 mt-2 mb-3 box-green ">
        <b>
            8.(B) (1) Sensitive Posts and Job Rotation
        </b>
    </div>
    <div class="w-80 mt-2 mb-3 box-green ">
        <b>
            8.B (1) BY THE ADMINSTRATION / MANAGEMENT <a target="_blank" href="~/pdf/senitivepost_example.pdf" style="color: red;">Click here to view example</a>
        </b>
    </div>


    <div class="w-75 m-auto">
        <table class="table table-striped table-bordered w-100 text-align-middle table-blue table-padding">
            <tbody>
                <tr></tr>
                <tr class="text-center">
                    <th rowspan="2"><b>No. of Sensitive Post Identified</b></th>
                    <th rowspan="2"><b>No. of Posts due for rotation during the <b style="font-size:18px;">Year</b></b></th>
                    <th rowspan="2"><b>No. of Posts rotated during the Quarter</b></th>
                    <th rowspan="2"><b>No. of Post due for rotation and not rotated during Quarter</b></th>
                    <th rowspan="2"><b>Reasons for not effecting rotating the sensitive posts</b></th>

                </tr>
                <tr></tr>
                <tr class="text-center tr-grey">
                    <td>&nbsp;<b>(1)</b></td>
                    <td>&nbsp;<b>(2)</b></td>
                    <td>&nbsp;<b>(3)</b></td>
                    <td>&nbsp;<b>(4)</b></td>
                    <td>&nbsp;<b>(5)</b></td>
                </tr>
                <tr>
                    <td><b><input asp-for="PreventiveVigilanceQRS.preventivevigi_management_job_rotation_sensitivenumberpost" title="Please mention total no. of posts." onkeypress="return isNumberKey(event);" class="form-control SenseJob" onfocus="changeTotalSensitivePost();"></b></td>
                    <td><b><input asp-for="PreventiveVigilanceQRS.preventivevigi_management_job_rotation_postduerotation" onkeypress="return isNumberKey(event);" class="form-control SenseJob" onfocus="changeYearSensitivePost();"></b></td>
                    <td><b><input asp-for="PreventiveVigilanceQRS.preventivevigi_management_job_rotation_post_qtrrotation" onkeypress="return isNumberKey(event);" class="form-control SenseJob"></b></td>
                    <td><b><input asp-for="PreventiveVigilanceQRS.preventivevigi_management_job_rotation_postnotrotated" onkeypress="return isNumberKey(event);" class="form-control SenseJob"></b></td>
                    <td><b><input asp-for="PreventiveVigilanceQRS.preventivevigi_management_job_rotation_reasons" class="form-control SenseJob"></b></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="w-80 mt-5 mb-3 box-green ">
        <b>
            8.(B) (2) FR 56J (or equivalent provisions in other rules / regulations)
        </b>
    </div>

    <div class="w-75 m-auto">
        <table class="table table-striped table-bordered w-100 text-align-middle table-blue table-padding">
            <tbody>
                <tr></tr>
                <tr class="text-center">
                    <th rowspan="2"><b>No. of officials covered</b></th>
                    <th rowspan="2"><b>No. of reviews undertaken</b></th>
                    <th rowspan="2"><b>No. of cases taken up under FR 56J</b></th>
                    <th rowspan="2"><b>Action taken</b></th>
                </tr>
                <tr></tr>
                <tr class="text-center tr-grey">
                    <td>&nbsp;<b>(1)</b></td>
                    <td>&nbsp;<b>(2)</b></td>
                    <td>&nbsp;<b>(3)</b></td>
                    <td>&nbsp;<b>(4)</b></td>

                </tr>
                <tr>
                    <td><b><input asp-for="PreventiveVigilanceQRS.preventivevigi_management_frj_numberofficer_covered" title="Total no. of officers covered for 56J" onkeypress="return isNumberKey(event);" class="form-control"></b></td>
                    <td><b><input asp-for="PreventiveVigilanceQRS.preventivevigi_management_frj_reviews_undertaken" onkeypress="return isNumberKey(event);" class="form-control"></b></td>
                    <td><b><input asp-for="PreventiveVigilanceQRS.preventivevigi_management_frj_case_under_fr" onkeypress="return isNumberKey(event);" class="form-control"></b></td>
                    <td><b><input asp-for="PreventiveVigilanceQRS.preventivevigi_management_frj_action_taken" class="form-control"></b></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="w-80 mt-5 mb-3 box-green ">
        <b>
            8.(B) (3) (A) Details of Vigilance Mechanism set up in subsidiaries/JVs/SPVs/RRBs etc.
        </b>
    </div>

    <div class="w-75 m-auto">
        <table class="table table-striped table-bordered w-100 text-align-middle table-blue table-padding">
            <tbody>
                <tr style="margin-top:10px;">
                    <td width="15%" align="left" valign="middle">
                        Number of Officers:
                    </td>
                    <td width="35%" align="left">
                        <span class="d-flex">
                            @* <input type="text" class="form-control" name="detail_vig_machanism_a" maxlength="3" id="detail_vig_machanism_a" style="width:25%" onkeypress="return isNumberKey(event);"> *@
                            <input type="button" id="add-row-preventiveA" class=" btn btn-outline-primary ms-1" value="Add" style="width:10%">
                        </span>
                        <input type="hidden" name="totRows-preventive" id="totRows-preventive" value="@Model.PrevVigiA.Count">
                    </td>
                </tr>
                <tr class="text-center">
                    <td colspan="4">
                        <table id="officerNumber-preventive" width="100%" border="1" align="center" cellpadding="10" cellspacing="1" class="table table-striped table-bordered text-align-middle">
                            <thead>
                                <tr>
                                    <th style="width:1%"><b>S.No.</b></th>
                                    <th style="width:8%"><b>Name of sub /JV/SPV/RRB etc. where Vig.Mechanism set up</b></th>
                                    <th style="width:6%"><b>No.of officers / staff appointed</b></th>
                                    <th style="width:6%"><b>Method of control exercised by parent Organisations</b></th>
                                    <th style="width:1%"><b>Delete</b></th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.PrevVigiA.Count; i++)
                                {
                                    <tr class="text-center">
                                        <td>@(i + 1)</td> <!-- Serial number column -->
                                        <td>
                                            <input asp-for="PrevVigiA[i].preventivevigi_a_detailsvigi_subsidiaries_nameofsub " class="form-control" />
                                        </td>
                                        <td>
                                            <input asp-for="PrevVigiA[i].preventivevigi_a_detailsvigi_subsidiaries_staff_appointed " class="form-control" />
                                        </td>
                                        <td>
                                            <input asp-for="PrevVigiA[i].preventivevigi_a_detailsvigi_subsidiaries_methodofcontrol " class="form-control" />
                                        </td>
                                        <td hidden>
                                            <input asp-for="PrevVigiA[i].preventivevigi_a_id " hidden class="form-control" readonly />
                                        </td>
                                        <td>
                                            <a class="btn btn-outline-danger" onclick="confirmDel('@Url.Action("DeletePrevVigi", new { id =@Model.PrevVigiA[i].preventivevigi_a_id, tableName="PrevVigiA" })'); return false;">Delete</a>
                                        </td>
                                    </tr>
                                }
                                <tr class="text-center d-none" id="newPrevARow">
                                    <td>
                                        @(Model.PrevVigiA.Count + 1) <!-- Serial number column -->
                                    </td>
                                    <td>
                                        <input asp-for='NewPreventivVigi_A.preventivevigi_a_detailsvigi_subsidiaries_nameofsub' class='form-control' type='text' />
                                    </td>
                                    <td>
                                        <input asp-for='NewPreventivVigi_A.preventivevigi_a_detailsvigi_subsidiaries_staff_appointed' class='form-control' type='text' />
                                    </td>
                                    <td>
                                        <input asp-for='NewPreventivVigi_A.preventivevigi_a_detailsvigi_subsidiaries_methodofcontrol' class='form-control' type='text' />
                                    </td>
                                    <td>
                                        <input type="submit" value="Save" class="btn btn-success" asp-action="SavePreventiveVigilance" onclick="return validateFields()" />
                                        <input type="submit" value="Delete" class="btn btn-outline-danger mt-1" onclick="hideRowNewPrevA()" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="w-80 mt-5 mb-3 box-green ">
        <b>
            8.(B) (3) (B)
        </b>
    </div>

    <div class="w-75 m-auto">
        <table class="table table-striped table-bordered w-100 text-align-middle table-blue table-padding">
            <tbody>
                <tr style="margin-top:10px;">
                    <td width="15%" align="left" valign="middle">
                        Number of Officers:
                    </td>
                    <td width="35%" align="left">
                        <span class="d-flex">
                            @* <input class="form-control" type="text" name="detail_vig_machanism_b" maxlength="3" id="detail_vig_machanism_b" style="float:left;width:25%" onkeypress="return isNumberKey(event);"> *@

                            <input type="button" id="add-row-preventiveB" class="btn btn-outline-primary ms-1" value="Add" style="margin-top:2px;width:10%;">
                        </span>
                        <input type="hidden" name="totRowsSecond" id="totRowsSecond">
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <table id="officerNumber2" width="100%" border="1" align="center" cellpadding="10" cellspacing="1" class=" table table-striped table-bordered text-align-middle secondOfficerNumber2">
                            <thead>
                                <tr>
                                    <th style="width:1%"><b>S.No.</b></th>
                                    <th style="width:8%"><b>Name of sub /JV/SPV/RRB etc. where Vig.Mechanism not set up</b></th>
                                    <th style="width:6%"><b>Method of control exercised by parent organisation</b></th>
                                    <th style="width:6%"><b>Likely time for creating functional vigilance menchanism</b></th>
                                    <th style="width:1%"><b>Delete</b></th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.PrevVigiB.Count; i++)
                                {
                                    <tr class="text-center">
                                        <td>@(i + 1)</td> <!-- Serial number column -->
                                        <td>
                                            <input asp-for="PrevVigiB[i].preventivevigi_management_detailsvig_b_nameofsub " class="form-control" />
                                        </td>
                                        <td>
                                            <input asp-for="PrevVigiB[i].preventivevigi_management_detailsvig_b_contral_method " class="form-control" />
                                        </td>
                                        <td>
                                            <input asp-for="PrevVigiB[i].preventivevigi_management_detailsvig_b_likely_time " class="form-control" />
                                        </td>
                                        <td hidden>
                                            <input asp-for="PrevVigiB[i].preventivevigi_b_id " hidden class="form-control" readonly />
                                        </td>
                                        <td>
                                            <a class="btn btn-outline-danger" onclick="confirmDel('@Url.Action("DeletePrevVigi", new { id =@Model.PrevVigiB[i].preventivevigi_b_id, tableName="PrevVigiB" })'); return false;">Delete</a>
                                        </td>
                                    </tr>
                                }
                                <tr class="text-center d-none" id="newPrevBRow">
                                    <td>
                                        @(Model.PrevVigiB.Count + 1) <!-- Serial number column -->
                                    </td>
                                    <td>
                                        <input asp-for='NewPreventivVigi_B.preventivevigi_management_detailsvig_b_nameofsub' class='form-control' type='text' />
                                    </td>
                                    <td>
                                        <input asp-for='NewPreventivVigi_B.preventivevigi_management_detailsvig_b_contral_method' class='form-control' type='text' />
                                    </td>
                                    <td>
                                        <input asp-for='NewPreventivVigi_B.preventivevigi_management_detailsvig_b_likely_time' class='form-control' type='text' />
                                    </td>
                                    <td>
                                        <input type="submit" value="Save" class="btn btn-success" asp-action="SavePreventiveVigilance" onclick="return validateFields()" />
                                        <input type="submit" value="Delete" class="btn btn-outline-danger mt-1" onclick="hideRowNewPrevB()" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="w-80 mt-5 mb-3 box-green ">
        <b>
            8.2
        </b>
    </div>

    <div class="w-75 m-auto">
        <table class="table table-striped table-bordered w-100 text-align-middle table-blue table-padding">
            <tbody>
                <tr>
                    <td style="text-align: left;"><b>&nbsp;&nbsp;(A) Whether agreed list for current year prepared</b></td>
                    <td>
                        <b>
                            <input id="preventivevigi_whether_agreed_list" name="PreventiveVigilanceQRS.preventivevigi_whether_agreed_list" onclick="agreedList(1);" style=" width:15%;padding:1px;" @(Model.PreventiveVigilanceQRS.preventivevigi_whether_agreed_list == "Yes" ? "checked" : "") type="radio" value="Yes">Yes
                            <input id="preventivevigi_whether_agreed_list1" name="PreventiveVigilanceQRS.preventivevigi_whether_agreed_list" onclick="agreedList(0);" style=" width:15%;padding:1px;" @(Model.PreventiveVigilanceQRS.preventivevigi_whether_agreed_list == "No" ? "checked" : "") type="radio" value="No">No
                            <input asp-for="PreventiveVigilanceQRS.preventivevigi_whether_agreed_list_date" type="date" class="form-control @(Model.PreventiveVigilanceQRS.preventivevigi_whether_agreed_list == "No" ? "d-none" : "")">
                        </b>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: left;"><b>&nbsp;&nbsp;(B) Whether list of officers of doubtful integrity prepared</b></td>
                    <td>
                        <b>
                            <input id="preventivevigi_whether_officer_list" name="PreventiveVigilanceQRS.preventivevigi_whether_officer_list" onclick="preventivevigi(1);" @(Model.PreventiveVigilanceQRS.preventivevigi_whether_officer_list == "Yes" ? "checked" : "") style=" width:15%;padding:1px;" type="radio" value="Yes">Yes
                            <input id="preventivevigi_whether_officer_list1" name="PreventiveVigilanceQRS.preventivevigi_whether_officer_list" onclick="preventivevigi(0);" @(Model.PreventiveVigilanceQRS.preventivevigi_whether_officer_list == "No" ? "checked" : "") style=" width:15%;padding:1px;" type="radio" value="No">No
                            <input asp-for="PreventiveVigilanceQRS.preventivevigi_whether_officer_list_date" type="date" class="form-control @(Model.PreventiveVigilanceQRS.preventivevigi_whether_officer_list == "No" ? "d-none" : "")">
                        </b>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: left;"><b>&nbsp;&nbsp;(C) Whether annual property returns/Personal files of the officials in Agreed / Odilist scrutinised </b></td>
                    <td>
                        <b>
                            <input id="preventivevigi_whether_annual_property1" name="PreventiveVigilanceQRS.preventivevigi_whether_annual_property" @(Model.PreventiveVigilanceQRS.preventivevigi_whether_annual_property == "Yes" ? "checked" : "") style=" width:15%;padding:1px;" type="radio" value="Yes">Yes
                            <input id="preventivevigi_whether_annual_property2" name="PreventiveVigilanceQRS.preventivevigi_whether_annual_property" @(Model.PreventiveVigilanceQRS.preventivevigi_whether_annual_property == "No" ? "checked" : "") style=" width:15%;padding:1px;" type="radio" value="No">No
                        </b>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: left;"><b>&nbsp;&nbsp;(d) Whether any information shared with CBI on (C)</b></td>
                    <td>
                        <b>
                            <input id="preventivevigi_whether_any_information1" name="PreventiveVigilanceQRS.preventivevigi_whether_any_information" @(Model.PreventiveVigilanceQRS.preventivevigi_whether_any_information == "Yes" ? "checked" : "") style=" width:15%;padding:1px;" type="radio" value="Yes">Yes
                            <input id="preventivevigi_whether_any_information2" name="PreventiveVigilanceQRS.preventivevigi_whether_any_information" @(Model.PreventiveVigilanceQRS.preventivevigi_whether_any_information == "No" ? "checked" : "") style=" width:15%;padding:1px;" type="radio" value="No">No
                        </b>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: left;"><b>&nbsp;&nbsp;(E) whether data relating to pendency of complaints and advice sreconciled with cvc</b></td>
                    <td>
                        <b>
                            <input id="preventivevigi_whether_data_relating" name="PreventiveVigilanceQRS.preventivevigi_whether_data_relating" onclick="preventivevigiE(1);" @(Model.PreventiveVigilanceQRS.preventivevigi_whether_data_relating == "Yes" ? "checked" : "") style=" width:15%;padding:1px;" type="radio" value="1">Yes
                            <input id="preventivevigi_whether_data_relating1" name="PreventiveVigilanceQRS.preventivevigi_whether_data_relating" onclick="preventivevigiE(0);" @(Model.PreventiveVigilanceQRS.preventivevigi_whether_data_relating == "No" ? "checked" : "") style=" width:15%;padding:1px;" type="radio" value="0">No
                            <input asp-for="PreventiveVigilanceQRS.preventivevigi_whether_data_relating_date" type="date" class="form-control @(Model.PreventiveVigilanceQRS.preventivevigi_whether_data_relating == "No" ? "d-none" : "")">
                        </b>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="w-80 mt-5 mb-3 box-green ">
        <b>
            8.3 Other Activities
        </b>
    </div>

    <div class="w-75 m-auto">
        <table class="table table-striped table-bordered w-100 text-align-middle table-blue table-padding">
            <tbody>
                <tr><td style="text-align: left;" colspan="2">&nbsp;&nbsp;<b>(A) Leveraging Technology</b></td></tr>
                <tr><td style="text-align: left;" colspan="2">&nbsp;&nbsp;&nbsp;<b>(1) Extent of IT usage and the e-governance</b></td></tr>
                <tr>
                    <td style="text-align: left;"><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(a) Percentage of E-payment</b></td>
                    <td>
                        <b class="d-flex justify-content-center">
                            <input class="form-control" asp-for="PreventiveVigilanceQRS.preventivevigi_other_it_epayment" onkeypress="return isNumberKey(event);" min="0" max="100" style="padding: 2px; width:50%;" type="number" class="greaterThree"><label>%</label>
                        </b>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: left;"><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(b) Percentage of E-tendering / E-auction</b></td>
                    <td><b class="d-flex justify-content-center"><input class="form-control" asp-for="PreventiveVigilanceQRS.preventivevigi_other_it_etendering" onkeypress="return isNumberKey(event);" min="0" max="100" style="padding: 2px; width:50%;" type="number" class="greaterThree">%</b></td>
                </tr>
                <tr>
                    <td style="text-align: left;"><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(c) Procurements / Contracts made thru Central Procurement Portal</b></td>
                    <td><b class="d-flex justify-content-center"><input class="form-control" asp-for="PreventiveVigilanceQRS.preventivevigi_other_it_contracts" onkeypress="return isNumberKey(event);" min="0" max="100" style="padding: 2px; width:50%;" type="number" class="greaterThree">%</b></td>
                </tr>
                <tr>
                    <td style="text-align: left;"><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(d) Percentage of procurement through Government E Marketplace(GeM) wherever applicable</b></td>
                    <td><b class="d-flex justify-content-center"><input class="form-control" asp-for="PreventiveVigilanceQRS.preventivevigi_other_it_emarketplace" onkeypress="return isNumberKey(event);" min="0" max="100" style="padding: 2px; width:50%;" type="number" class="greaterThree">%</b></td>
                </tr>
                <tr>
                    <td style="text-align: left;"><b>&nbsp;&nbsp;(B) Whether QPR due have been furnished to CTE</b></td>
                    <td>
                        <b>
                            <input id="preventivevigi_other_qpr_cte" name="PreventiveVigilanceQRS.preventivevigi_other_qpr_cte" onclick="otherActivitesB(1);" @(Model.PreventiveVigilanceQRS.preventivevigi_other_qpr_cte == "Yes" ? "checked" : "") style=" width:15%;padding:1px;" type="radio" value="1">Yes
                            <input id="preventivevigi_other_qpr_cte1" name="PreventiveVigilanceQRS.preventivevigi_other_qpr_cte" onclick="otherActivitesB(0);" @(Model.PreventiveVigilanceQRS.preventivevigi_other_qpr_cte == "No" ? "checked" : "") style=" width:15%;padding:1px;" type="radio" value="0">No
                            <input asp-for="PreventiveVigilanceQRS.preventivevigi_other_qpr_cte_date" type="date" class="form-control @(Model.PreventiveVigilanceQRS.preventivevigi_other_qpr_cte == "No" ? "d-none" : "")">
                        </b>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: left;"><b>&nbsp;&nbsp;(C) Whether Review of vigilance work was done by the Board / Head of Department </b></td>
                    <td width="15%">
                        <b>
                            <input id="preventivevigi_other_review_vigi" name="PreventiveVigilanceQRS.preventivevigi_other_review_vigi" onclick="otherActivitesC(1)" @(Model.PreventiveVigilanceQRS.preventivevigi_other_review_vigi == "Yes" ? "checked" : "") style=" width:15%;padding:1px;" type="radio" value="1">Yes
                            <input id="preventivevigi_other_review_vigi1" name="PreventiveVigilanceQRS.preventivevigi_other_review_vigi" onclick="otherActivitesC(0)" @(Model.PreventiveVigilanceQRS.preventivevigi_other_review_vigi == "No" ? "checked" : "") style=" width:15%;padding:1px;" type="radio" value="0">No
                            <input asp-for="PreventiveVigilanceQRS.preventivevigi_other_review_vigi_date" type="date" class="form-control @(Model.PreventiveVigilanceQRS.preventivevigi_other_review_vigi == "No" ? "d-none" : "")">
                        </b>

                        <div id="fileToUpload" class="@(Model.PreventiveVigilanceQRS.preventivevigi_other_review_vigi == "No" ? "d-none" : "")">
                            <br>
                            <span id="NoUpload">Document Not Uploaded</span>

                            <input asp-for="@Model.FormFile" type="file" />

                            @* <input asp-for="PreventiveVigilanceQRS.file1" /> *@

                            <div id="fileUploadResult" class="text-center mt-3"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: left;"><b>&nbsp;&nbsp;(D) Whether structured meeting held by the C.E.O./ Head of Department with CVO</b></td>
                    <td>
                        <b>
                            <input id="preventivevigi_other_structured_meeting" name="PreventiveVigilanceQRS.preventivevigi_other_structured_meeting" onclick="otherActivitesD(1);" @(Model.PreventiveVigilanceQRS.preventivevigi_other_structured_meeting == "Yes" ? "checked" : "") style=" width:15%;padding:1px;" type="radio" value="1">Yes
                            <input id="preventivevigi_other_structured_meeting1" name="PreventiveVigilanceQRS.preventivevigi_other_structured_meeting" onclick="otherActivitesD(0);" @(Model.PreventiveVigilanceQRS.preventivevigi_other_structured_meeting == "No" ? "checked" : "") style=" width:15%;padding:1px;" type="radio" value="0">No
                            <input asp-for="PreventiveVigilanceQRS.preventivevigi_other_structured_meeting_date" type="date" class="form-control @(Model.PreventiveVigilanceQRS.preventivevigi_other_structured_meeting   == "No" ? "d-none" : "")">
                        </b>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: left;"><b>&nbsp;&nbsp;(E) Whether Report on implementation of Integrity Pact sent</b></td>
                    <td>
                        <b>
                            <input id="preventivevigi_other_report_implementation1" name="PreventiveVigilanceQRS.preventivevigi_other_report_implementation" @(Model.PreventiveVigilanceQRS.preventivevigi_other_report_implementation == "Yes" ? "checked" : "") style=" width:15%;padding:1px;" type="radio" value="1">Yes
                            <input id="preventivevigi_other_report_implementation2" name="PreventiveVigilanceQRS.preventivevigi_other_report_implementation" @(Model.PreventiveVigilanceQRS.preventivevigi_other_report_implementation == "No" ? "checked" : "") style=" width:15%;padding:1px;" type="radio" value="0">No
                        </b>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: left;"><b>&nbsp;&nbsp;(F) Whether applications being used are reporting deviations as alerts</b></td>
                    <td>
                        <b>
                            <input id="preventivevigi_other_application_being" name="PreventiveVigilanceQRS.preventivevigi_other_application_being" style=" width:15%;padding:1px;" @(Model.PreventiveVigilanceQRS.preventivevigi_other_application_being == "Yes" ? "checked" : "") type="radio" value="1">Yes
                            <input id="preventivevigi_other_application_being1" name="PreventiveVigilanceQRS.preventivevigi_other_application_being" style=" width:15%;padding:1px;" @(Model.PreventiveVigilanceQRS.preventivevigi_other_application_being == "No" ? "checked" : "") type="radio" value="0">No
                            <input id="preventivevigi_other_application_being2" name="PreventiveVigilanceQRS.preventivevigi_other_application_being" style=" width:15%;padding:1px;" @(Model.PreventiveVigilanceQRS.preventivevigi_other_application_being == "Other" ? "checked" : "") type="radio" value="Other">Other
                        </b>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: left;"><b>&nbsp;&nbsp;(G) Whether Changes in technology is being dovetailed with changes in instructions Guidelines / Manuals</b></td>
                    <td>
                        <b>
                            <input id="preventivevigi_other_change_tech1" name="PreventiveVigilanceQRS.preventivevigi_other_change_tech" @(Model.PreventiveVigilanceQRS.preventivevigi_other_change_tech == "Yes" ? "checked" : "") style=" width:15%;padding:1px;" type="radio" value="1">Yes
                            <input id="preventivevigi_other_change_tech2" name="PreventiveVigilanceQRS.preventivevigi_other_change_tech" @(Model.PreventiveVigilanceQRS.preventivevigi_other_change_tech == "No" ? "checked" : "") style=" width:15%;padding:1px;" type="radio" value="0">No
                        </b>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: left;"><b>&nbsp;&nbsp;(H) Whether E- Learning methodology is being used</b></td>
                    <td>
                        <b>
                            <input id="preventivevigi_other_e_learning1" name="PreventiveVigilanceQRS.preventivevigi_other_e_learning" @(Model.PreventiveVigilanceQRS.preventivevigi_other_e_learning == "Yes" ? "checked" : "") style=" width:15%;padding:1px;" type="radio" value="1">Yes
                            <input id="preventivevigi_other_e_learning2" name="PreventiveVigilanceQRS.preventivevigi_other_e_learning" @(Model.PreventiveVigilanceQRS.preventivevigi_other_e_learning == "No" ? "checked" : "") style=" width:15%;padding:1px;" type="radio" value="0">No
                        </b>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: left;"><b>&nbsp;&nbsp;(I) Whether Pending Disciplinary Cases are Monitored</b></td>
                    <td>
                        <b>
                            <input id="preventivevigi_other_pending_disciplinary1" name="PreventiveVigilanceQRS.preventivevigi_other_pending_disciplinary" @(Model.PreventiveVigilanceQRS.preventivevigi_other_pending_disciplinary == "Yes" ? "checked" : "") style=" width:15%;padding:1px;" type="radio" value="1">Yes
                            <input id="preventivevigi_other_pending_disciplinary2" name="PreventiveVigilanceQRS.preventivevigi_other_pending_disciplinary" @(Model.PreventiveVigilanceQRS.preventivevigi_other_pending_disciplinary == "No" ? "checked" : "") style=" width:15%;padding:1px;" type="radio" value="0">No
                        </b>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: left;"><b>&nbsp;&nbsp;(J) Whether CVO Deputed for Training Abroad</b></td>
                    <td>
                        <b>
                            <input id="preventivevigi_other_cvo_deputed1" name="PreventiveVigilanceQRS.preventivevigi_other_cvo_deputed" @(Model.PreventiveVigilanceQRS.preventivevigi_other_cvo_deputed == "Yes" ? "checked" : "") style=" width:15%;padding:1px;" type="radio" value="1">Yes
                            <input id="preventivevigi_other_cvo_deputed2" name="PreventiveVigilanceQRS.preventivevigi_other_cvo_deputed" @(Model.PreventiveVigilanceQRS.preventivevigi_other_cvo_deputed == "No" ? "checked" : "") style=" width:15%;padding:1px;" type="radio" value="0">No
                        </b>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: left;"><b>&nbsp;&nbsp;(K) Visits Abroad by CVO,if any</b></td>
                    <td>
                        <b>
                            <input id="preventivevigi_other_visit_cvo1" name="PreventiveVigilanceQRS.preventivevigi_other_visit_cvo" @(Model.PreventiveVigilanceQRS.preventivevigi_other_visit_cvo == "Yes" ? "checked" : "") style=" width:15%;padding:1px;" type="radio" value="1">Yes
                            <input id="preventivevigi_other_visit_cvo2" name="PreventiveVigilanceQRS.preventivevigi_other_visit_cvo" @(Model.PreventiveVigilanceQRS.preventivevigi_other_visit_cvo == "No" ? "checked" : "") style=" width:15%;padding:1px;" type="radio" value="0">No
                        </b>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: left;"><b>&nbsp;&nbsp;(L) Whether Prior Approval of Commission obtained for Official foreign visits by CVO</b></td>
                    <td>
                        <b>
                            <input id="preventivevigi_other_prior_approval1" name="PreventiveVigilanceQRS.preventivevigi_other_prior_approval" @(Model.PreventiveVigilanceQRS.preventivevigi_other_prior_approval == "Yes" ? "checked" : "") style=" width:15%;padding:1px;" type="radio" value="1">Yes
                            <input id="preventivevigi_other_prior_approval2" name="PreventiveVigilanceQRS.preventivevigi_other_prior_approval" @(Model.PreventiveVigilanceQRS.preventivevigi_other_prior_approval == "No" ? "checked" : "") style=" width:15%;padding:1px;" type="radio" value="0">No
                        </b>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: left;"><b>&nbsp;&nbsp;(M) Expenditure incurred on festival gifts any(Rs.)<br>(see CVC's Office Order No.40/8/2003 dated 27.08.2003)</b></td>
                    <td><b><input class="form-control" asp-for="PreventiveVigilanceQRS.preventivevigi_other_expenditure" typeof="number" onkeypress="return isNumberKey(event);" style="padding:2px;" type="text"></b></td>
                </tr>
                <tr>
                    <td style="text-align: left;"><b>&nbsp;&nbsp;(N) Whether tour details of CVO submitted to CVC <br>(see CVC's Cicular No 26/07/010 dated 15.07.2010)</b></td>
                    <td>
                        <b>
                            <input id="preventivevigi_other_tour_details1" name="PreventiveVigilanceQRS.preventivevigi_other_tour_details" @(Model.PreventiveVigilanceQRS.preventivevigi_other_tour_details == "Yes" ? "checked" : "") style=" width:15%;padding:1px;" type="radio" value="1">Yes
                            <input id="preventivevigi_other_tour_details2" name="PreventiveVigilanceQRS.preventivevigi_other_tour_details" @(Model.PreventiveVigilanceQRS.preventivevigi_other_tour_details == "No" ? "checked" : "") style=" width:15%;padding:1px;" type="radio" value="0">No
                        </b>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: left;"><b>&nbsp;&nbsp;(O) Whether  Guidelines on Appointment of Outsiders / Retired officers as I.O for Oral Inquiries laid down including Provisions in CDA Rules<br>(Only for orgns. other than Govt : see Circular no. 98/MSC/23 dt 25.3.2003 )</b></td>
                    <td>
                        <b>
                            <input id="preventivevigi_other_guidelines_appointment1" name="PreventiveVigilanceQRS.preventivevigi_other_guidelines_appointment" @(Model.PreventiveVigilanceQRS.preventivevigi_other_guidelines_appointment == "Yes" ? "checked" : "") style=" width:15%;padding:1px;" type="radio" value="1">Yes
                            <input id="preventivevigi_other_guidelines_appointment2" name="PreventiveVigilanceQRS.preventivevigi_other_guidelines_appointment" @(Model.PreventiveVigilanceQRS.preventivevigi_other_guidelines_appointment == "No" ? "checked" : "") style=" width:15%;padding:1px;" type="radio" value="0">No
                        </b>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: left;"><b>&nbsp;&nbsp;(P) Victimisation of vigilance officials Reported to Commission, if any. <br>(Circular No.16/3/06 dt 28.3.2006)</b></td>
                    <td><b><input class="form-control" asp-for="PreventiveVigilanceQRS.preventivevigi_other_victimisation_vigilance" style="padding:2px;" type="text"></b></td>
                </tr>
                <tr>
                    <td style="text-align: left;"><b>&nbsp;&nbsp;(Q) Whether secrecy of Passwords monitored by CVO in Terms of Policy Approved by the Respective Board<br>(For Banks Only)</b></td>
                    <td>
                        <b>
                            <input id="preventivevigi_other_secrcy_password1" name="PreventiveVigilanceQRS.preventivevigi_other_secrcy_password" @(Model.PreventiveVigilanceQRS.preventivevigi_other_secrcy_password == "Yes" ? "checked" : "") style=" width:15%;padding:1px;" type="radio" value="Yes">Yes
                            <input id="preventivevigi_other_secrcy_password2" name="PreventiveVigilanceQRS.preventivevigi_other_secrcy_password" @(Model.PreventiveVigilanceQRS.preventivevigi_other_secrcy_password == "No" ? "checked" : "") style=" width:15%;padding:1px;" type="radio" value="No">No
                        </b>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="center w-70 mt-2">
        <p>[Last date of activity to be mentioned against the date]</p>
        <p><sup><span style="color: red;">*</span></sup> If you are not able to fill up any of the above paras, give a time line for completing the same.</p>
    </div>




    <div class="w-25 m-auto text-center">

        @if (ViewBag.ComplaintsMessage != null)
        {
            @ViewBag.ComplaintsMessage
        }

    </div>

    <div class="d-flex justify-content-between w-80 m-auto mt-5">
        <a class="btn btn-secondary" asp-action="PunitiveVigilance">Back</a>
        <input type="submit" value="Save" class="btn btn-success" asp-action="SavePreventiveVigilance" onclick="return validateFields()" />
        <input type="submit" value="Next" class="btn btn-primary " onclick="confirmFormSubmission('PreventiveVigilanceQPRForm')" />
    </div>

</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
<script>
    $('#add-row-preventiveA').on('click', function () {
        // debugger;
        $('#NewPreventivVigi_A_preventivevigi_a_detailsvigi_subsidiaries_nameofsub').attr('required', true);
        $('#NewPreventivVigi_A_preventivevigi_a_detailsvigi_subsidiaries_staff_appointed').attr('required', true);
        $('#NewPreventivVigi_A_preventivevigi_a_detailsvigi_subsidiaries_methodofcontrol').attr('required', true);
        $('#newPrevARow').removeClass('d-none');
        $('#add-row-preventiveA').removeClass('btn-outline-primary');
        $('#add-row-preventiveA').addClass('btn-outline-secondary');
        $('#add-row-preventiveA').addClass('disabled');

    });

    function hideRowNewPrevA() {
        event.preventDefault();
        $('#NewPreventivVigi_A_preventivevigi_a_detailsvigi_subsidiaries_nameofsub').removeAttr('required');
        $('#NewPreventivVigi_A_preventivevigi_a_detailsvigi_subsidiaries_staff_appointed').removeAttr('required');
        $('#NewPreventivVigi_A_preventivevigi_a_detailsvigi_subsidiaries_methodofcontrol').removeAttr('required');
        $('#newPrevARow').addClass('d-none');
        $('#add-row-preventiveA').addClass('btn-outline-primary');
        $('#add-row-preventiveA').removeClass('btn-outline-secondary');
        $('#add-row-preventiveA').removeClass('disabled');

    };

    $('#add-row-preventiveB').on('click', function () {
        // debugger;
        $('#NewPreventivVigi_B_preventivevigi_management_detailsvig_b_nameofsub').attr('required', true);
        $('#NewPreventivVigi_B_preventivevigi_management_detailsvig_b_contral_method').attr('required', true);
        $('#NewPreventivVigi_B_preventivevigi_management_detailsvig_b_likely_time').attr('required', true);
        $('#newPrevBRow').removeClass('d-none');
        $('#add-row-preventiveB').removeClass('btn-outline-primary');
        $('#add-row-preventiveB').addClass('btn-outline-secondary');
        $('#add-row-preventiveB').addClass('disabled');

    });

    function hideRowNewPrevB() {
        event.preventDefault();
        $('#NewPreventivVigi_B_preventivevigi_management_detailsvig_b_nameofsub').removeAttr('required');
        $('#NewPreventivVigi_B_preventivevigi_management_detailsvig_b_contral_method').removeAttr('required');
        $('#NewPreventivVigi_B_preventivevigi_management_detailsvig_b_likely_time').removeAttr('required');
        $('#newPrevBRow').addClass('d-none');
        $('#add-row-preventiveB').addClass('btn-outline-primary');
        $('#add-row-preventiveB').removeClass('btn-outline-secondary');
        $('#add-row-preventiveB').removeClass('disabled');

    };

</script>

<script>
    $(document).on("keyup", ".SenseJob", function () {
        var rotation_postduerotation = parseInt($('#PreventiveVigilanceQRS_preventivevigi_management_job_rotation_postduerotation').val());
        var rotation_post_qtrrotation = parseInt($('#PreventiveVigilanceQRS_preventivevigi_management_job_rotation_post_qtrrotation').val());
        var total = 0;
        if (rotation_postduerotation < rotation_post_qtrrotation) {
            $('#PreventiveVigilanceQRS_preventivevigi_management_job_rotation_postduerotation').val(0);
            $('#PreventiveVigilanceQRS_preventivevigi_management_job_rotation_post_qtrrotation').val(0);
        }
        else {
            total = rotation_postduerotation - rotation_post_qtrrotation;
        }

        $('#PreventiveVigilanceQRS_preventivevigi_management_job_rotation_postnotrotated').val(total);
    });
</script>

<script>
    $(function () {
        var complaintsMessage = '@ViewBag.ComplaintsMessage';
        debugger;
        var filePath = '@Model.PreventiveVigilanceQRS.file1';
        if (filePath != null && filePath != '') {
            $('#fileUploadResult').html('<a href="' + filePath + '" target="_blank">View Uploaded File</a>');
            $('#NoUpload').addClass('d-none');
        }

        if (complaintsMessage) {
            var notificationIcon;

            if (complaintsMessage == 'Saved' || complaintsMessage == 'Deleted successfully') {
                notificationIcon = 'success'
            }

            if (complaintsMessage.includes('Error')) {
                notificationIcon = 'error'
            }

            Swal.fire({
                // title: complaintsMessage,
                text: complaintsMessage,
                icon: notificationIcon,
                confirmButtonText: 'Okay'
            }).then((result) => {
                if (result.isConfirmed) {
                    pageReloadWithoutQueryString();
                } else {
                    // Optional: Handle cancel action
                }
            });
        }
        performComTotal();
        agreedList(0);
        preventivevigi(0);
        otherActivitesB(0);
        otherActivitesC(0);
        otherActivitesD(0);
        preventivevigiE(0);
        verifyCheckboxes();
    });

    //$('').on('input', performComTotal);


    function performComTotal() {
        //$('#StatusOfPendency_pendency_status_fi_total').val((parseFloat($('#StatusOfPendency_pendency_status_fi_addduringqtr').val()) || 0) + (parseFloat($('#StatusOfPendency_pendency_status_fi_previousqtr').val()) || 0));
    }


</script>

<script>
    function agreedList(isShow) {
        isShow == 1 ? $('#PreventiveVigilanceQRS_preventivevigi_whether_agreed_list_date').removeClass('d-none') : $('#PreventiveVigilanceQRS_preventivevigi_whether_agreed_list_date').addClass('d-none');
        isShow == 1 ? $('#PreventiveVigilanceQRS_preventivevigi_whether_agreed_list_date').attr('required', true) : $('#PreventiveVigilanceQRS_preventivevigi_whether_agreed_list_date').removeAttr('required');
    }
    function preventivevigi(isShow) {
        isShow == 1 ? $('#PreventiveVigilanceQRS_preventivevigi_whether_officer_list_date').removeClass('d-none') : $('#PreventiveVigilanceQRS_preventivevigi_whether_officer_list_date').addClass('d-none');
        isShow == 1 ? $('#PreventiveVigilanceQRS_preventivevigi_whether_officer_list_date').attr('required', true) : $('#PreventiveVigilanceQRS_preventivevigi_whether_officer_list_date').removeAttr('required');
    }
    function preventivevigiE(isShow) {
        isShow == 1 ? $('#PreventiveVigilanceQRS_preventivevigi_whether_data_relating_date').removeClass('d-none') : $('#PreventiveVigilanceQRS_preventivevigi_whether_data_relating_date').addClass('d-none');
        isShow == 1 ? $('#PreventiveVigilanceQRS_preventivevigi_whether_data_relating_date').attr('required', true) : $('#PreventiveVigilanceQRS_preventivevigi_whether_data_relating_date').removeAttr('required');
    }
    function otherActivitesB(isShow) {
        isShow == 1 ? $('#PreventiveVigilanceQRS_preventivevigi_other_qpr_cte_date').removeClass('d-none') : $('#PreventiveVigilanceQRS_preventivevigi_other_qpr_cte_date').addClass('d-none');
        isShow == 1 ? $('#PreventiveVigilanceQRS_preventivevigi_other_qpr_cte_date').attr('required', true) : $('#PreventiveVigilanceQRS_preventivevigi_other_qpr_cte_date').removeAttr('required');
    }
    function otherActivitesC(isShow) {
        if (isShow == 1) {

            $('#PreventiveVigilanceQRS_preventivevigi_other_review_vigi_date').removeClass('d-none');
            $('#fileToUpload').removeClass('d-none');
            $('#PreventiveVigilanceQRS_preventivevigi_other_review_vigi_date').attr('required', true);
        } else {
            $('#PreventiveVigilanceQRS_preventivevigi_other_review_vigi_date').removeAttr('required');
            $('#PreventiveVigilanceQRS_preventivevigi_other_review_vigi_date').addClass('d-none');
            $('#fileToUpload').addClass('d-none');

        }

    }
    function otherActivitesD(isShow) {
        if (isShow == 1) {
            $('#PreventiveVigilanceQRS_preventivevigi_other_structured_meeting_date').removeClass('d-none');
            $('#PreventiveVigilanceQRS_preventivevigi_other_structured_meeting_date').attr('required', true)
        } else {
            $('#PreventiveVigilanceQRS_preventivevigi_other_structured_meeting_date').addClass('d-none');
            $('#PreventiveVigilanceQRS_preventivevigi_other_structured_meeting_date').removeAttr('required');
        }
    }

    function verifyCheckboxes() {
        if ("@Model.PreventiveVigilanceQRS.preventivevigi_whether_agreed_list" == "Yes") {
            agreedList(1);
        }
        if ("@Model.PreventiveVigilanceQRS.preventivevigi_whether_officer_list" == "Yes") {
            preventivevigi(1);
        }
        if ("@Model.PreventiveVigilanceQRS.preventivevigi_whether_data_relating" == "Yes") {
            preventivevigiE(1);
        }
        if ("@Model.PreventiveVigilanceQRS.preventivevigi_other_qpr_cte" == "Yes") {
            otherActivitesB(1);
        }
        if ("@Model.PreventiveVigilanceQRS.preventivevigi_other_review_vigi" == "Yes") {
            otherActivitesC(1);

        } if ("@Model.PreventiveVigilanceQRS.preventivevigi_other_structured_meeting" == "Yes") {
            otherActivitesD(1);
        }
    }
</script>
@* 
<script>
    function uploadFilePreventiveVigilance() {
        if (validateFields()) {
            var fileInput = $('#file1')[0];
            var file = fileInput.files[0]; // Get the first file (if multiple files are allowed, this can be adjusted)
            var formData = new FormData();
            formData.append('File', file);


            $.ajax({
                url: '@Url.Action("UploadFile")', // Adjust controller and action name
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false,
                success: function (response) {
                    alert(response.fileUrl);
                    if (response != "") {
                        $('#fileUploadResult').html('<a href="' + response.fileUrl + '" target="_blank">View Uploaded File</a>');
                        $('#PreventiveVigilanceQRS_file1').val(response.fileUrl);
                        $('#NoUpload').addClass('d-none');
                    }
                    return true;
                },
                error: function (xhr, status, error) {
                    $('#fileUploadResult').html('<p>Error: ' + error + '</p>');
                }
            });
        }
    }

    
</script> *@
