@model QPR_Application.Models.ViewModels.ProsecutionSanctionsViewModel

@{
    ViewData["Title"] = "ProsecutionSanctions";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="text-center">
    <h3>Prosecution Sanctions</h3>
</div>
<hr />

<form asp-action="ProsecutionSanctions" id="ProsecutionSanctionsQPRForm">
    <div class="w-80 mt-5 mb-3 box-green ">
        <b>
            3.1 (A) Details regarding requests for Prosecution sanctions received and disposed   <label>  &nbsp; <a asp-action="Instructions" target="_blank">See Instruction Before Filling</a></label>
        </b>
    </div>


    <div class="w-75 m-auto">
        <table class="table table-striped table-bordered w-100 text-align-middle table-blue table-padding">
            <tbody>
                <tr></tr>
                <tr class="text-center">
                    <th rowspan="2" style="width:20%"><b><sup><span style="color: red;">**</span></sup>Category</b></th>
                    <th rowspan="2"><b>Opening Balance </b></th>
                    <th rowspan="2"><b>Received during the quarter. </b></th>
                    <th rowspan="2"><b>Total</b><br>4=(2+3)</th>
                    <th rowspan="2"><b>Sanction granted</b></th>
                    <th rowspan="2"><b>Sanction refused</b></th>
                    <th rowspan="2"><b>Balance Pending</b><br>7=[4 - (5+6)]</th>
                    <th colspan="3"><b>Age wise Pendency(Months) </b>7=(8+9+10)<br></th>

                </tr>
                <tr class="text-center">
                    <th>
                        &lt;3
                    </th>

                    <th>
                        3-6
                    </th>
                    <th>
                        &gt;6
                    </th>

                </tr>

                <tr class="text-center tr-grey">
                    <td>&nbsp;<b>(1)</b></td>
                    <td>&nbsp;<b>(2)</b></td>
                    <td>&nbsp;<b>(3)</b></td>
                    <td>&nbsp;<b>(4)</b></td>
                    <td>&nbsp;<b>(5)</b></td>
                    <td>&nbsp;<b>(6)</b></td>
                    <td>&nbsp;<b>(7)</b></td>
                    <td>&nbsp;<b>(8)</b></td>
                    <td>&nbsp;<b>(9)</b></td>
                    <td>&nbsp;<b>(10)</b></td>
                </tr>
                <tr>
                    <td align="left"> <b>Group C</b> </td>
                    <td><b><input asp-for="Prosecutionsanctionsqrs.prosesanctgroupcopeningbalance" onkeypress="return isNumberKey(event);" class="form-control" readonly></b></td>
                    <td><b><input asp-for="Prosecutionsanctionsqrs.prosesanctgroupcreciveqtr" onkeypress="return isNumberKey(event);" class="form-control"></b></td>
                    <td><b><input asp-for="Prosecutionsanctionsqrs.prosesanctgroupctotal" onkeypress="return isNumberKey(event);" class="form-control" readonly></b></td>
                    <td><b><input asp-for="Prosecutionsanctionsqrs.prosesanctgroupcsanctiongranted" onkeypress="return isNumberKey(event);" class="form-control"></b></td>
                    <td><b><input asp-for="Prosecutionsanctionsqrs.prosesanctgroupcsanctionrefused" onkeypress="return isNumberKey(event);" class="form-control"></b></td>
                    <td><b><input asp-for="Prosecutionsanctionsqrs.prosesanctgroupcbalancepending" onkeypress="return isNumberKey(event);" class="form-control" readonly></b></td>
                    <td><b><input asp-for="Prosecutionsanctionsqrs.prosesanctgroupcgreaterthree" onkeypress="return isNumberKey(event);" class="form-control"></b></td>
                    <td><b><input asp-for="Prosecutionsanctionsqrs.prosesanctgroupcthreetosix" onkeypress="return isNumberKey(event);" class="form-control"></b></td>
                    <td><b><input asp-for="Prosecutionsanctionsqrs.prosesanctgroupclesssix" onkeypress="return isNumberKey(event);" class="form-control"></b></td>
                </tr>
                <tr>
                    <td align="left"><b>Group B</b></td>
                    <td><b><input asp-for="Prosecutionsanctionsqrs.prosesanctgroupbopeningbalance" onkeypress="return isNumberKey(event);" class="form-control" readonly></b></td>
                    <td><b><input asp-for="Prosecutionsanctionsqrs.prosesanctgroupbreciveqtr" onkeypress="return isNumberKey(event);" class="form-control"></b></td>
                    <td><b><input asp-for="Prosecutionsanctionsqrs.prosesanctgroupbtotal" onkeypress="return isNumberKey(event);" class="form-control" readonly></b></td>
                    <td><b><input asp-for="Prosecutionsanctionsqrs.prosesanctgroupbsanctiongranted" onkeypress="return isNumberKey(event);" class="form-control"></b></td>
                    <td><b><input asp-for="Prosecutionsanctionsqrs.prosesanctgroupbsanctionrefused" onkeypress="return isNumberKey(event);" class="form-control"></b></td>
                    <td><b><input asp-for="Prosecutionsanctionsqrs.prosesanctgroupbbalancepending" onkeypress="return isNumberKey(event);" class="form-control" readonly></b></td>
                    <td><b><input asp-for="Prosecutionsanctionsqrs.prosesanctgroupbgreaterthree" onkeypress="return isNumberKey(event);" class="form-control"></b></td>
                    <td><b><input asp-for="Prosecutionsanctionsqrs.prosesanctgroupbthreetosix" onkeypress="return isNumberKey(event);" class="form-control"></b></td>
                    <td><b><input asp-for="Prosecutionsanctionsqrs.prosesanctgroupblesssix" onkeypress="return isNumberKey(event);" class="form-control"></b></td>
                </tr>

                <tr>
                    <td align="left"><b>Group A up to DS/Director level</b></td>
                    <td><b><input asp-for="Prosecutionsanctionsqrs.prosesanctgroupaopeningbalance" onkeypress="return isnumberkey(event);" class="form-control" readonly></b></td>
                    <td><b><input asp-for="Prosecutionsanctionsqrs.prosesanctgroupareciveqtr" onkeypress="return isnumberkey(event);" class="form-control"></b></td>
                    <td><b><input asp-for="Prosecutionsanctionsqrs.prosesanctgroupatotal" onkeypress="return isnumberkey(event);" class="form-control" readonly></b></td>
                    <td><b><input asp-for="Prosecutionsanctionsqrs.prosesanctgroupasanctiongranted" onkeypress="return isnumberkey(event);" class="form-control"></b></td>
                    <td><b><input asp-for="Prosecutionsanctionsqrs.prosesanctgroupasanctionrefused" onkeypress="return isnumberkey(event);" class="form-control"></b></td>
                    <td><b><input asp-for="Prosecutionsanctionsqrs.prosesanctgroupabalancepending" onkeypress="return isnumberkey(event);" class="form-control" readonly></b></td>
                    <td><b><input asp-for="Prosecutionsanctionsqrs.prosesanctgroupagreaterthree" onkeypress="return isnumberkey(event);" class="form-control"></b></td>
                    <td><b><input asp-for="Prosecutionsanctionsqrs.prosesanctgroupathreetosix" onkeypress="return isnumberkey(event);" class="form-control"></b></td>
                    <td><b><input asp-for="Prosecutionsanctionsqrs.prosesanctgroupalesssix" onkeypress="return isnumberkey(event);" class="form-control"></b></td>
                </tr>
                <tr>
                    <td align="left"><b>Js and above</b></td>
                    <td><b><input asp-for="Prosecutionsanctionsqrs.prosesanctjsopeningbalance" onkeypress="return isnumberkey(event);" class="form-control" readonly></b></td>
                    <td><b><input asp-for="Prosecutionsanctionsqrs.prosesanctjsreciveqtr" onkeypress="return isnumberkey(event);" class="form-control"></b></td>
                    <td><b><input asp-for="Prosecutionsanctionsqrs.prosesanctjstotal" onkeypress="return isnumberkey(event);" class="form-control" readonly></b></td>
                    <td><b><input asp-for="Prosecutionsanctionsqrs.prosesanctjssanctiongranted" onkeypress="return isnumberkey(event);" class="form-control"></b></td>
                    <td><b><input asp-for="Prosecutionsanctionsqrs.prosesanctjssanctionrefused" onkeypress="return isnumberkey(event);" class="form-control"></b></td>
                    <td><b><input asp-for="Prosecutionsanctionsqrs.prosesanctjsbalancepending" onkeypress="return isnumberkey(event);" class="form-control" readonly></b></td>
                    <td><b><input asp-for="Prosecutionsanctionsqrs.prosesanctjsgreaterthree" onkeypress="return isnumberkey(event);" class="form-control"></b></td>
                    <td><b><input asp-for="Prosecutionsanctionsqrs.prosesanctjsthreetosix" onkeypress="return isnumberkey(event);" class="form-control"></b></td>
                    <td><b><input asp-for="Prosecutionsanctionsqrs.prosesanctjslesssix" onkeypress="return isnumberkey(event);" class="form-control"></b></td>
                </tr>
                <tr>
                    <td align="left"><b>Total</b></td>
                    <td><b><input asp-for="Prosecutionsanctionsqrs.prosesancttotalopeningbalance" onkeypress="return isnumberkey(event);" class="form-control" readonly></b></td>
                    <td><b><input asp-for="Prosecutionsanctionsqrs.prosesancttotalreciveqtr" onkeypress="return isnumberkey(event);" class="form-control" readonly></b></td>
                    <td><b><input asp-for="Prosecutionsanctionsqrs.prosesancttotal" onkeypress="return isnumberkey(event);" class="form-control" readonly></b></td>
                    <td><b><input asp-for="Prosecutionsanctionsqrs.prosesancttotalsanctiongranted" onkeypress="return isnumberkey(event);" class="form-control" readonly></b></td>
                    <td><b><input asp-for="Prosecutionsanctionsqrs.prosesancttotalsanctionrefused" onkeypress="return isnumberkey(event);" class="form-control" readonly></b></td>
                    <td><b><input asp-for="Prosecutionsanctionsqrs.prosesancttotalbalancepending" onkeypress="return isnumberkey(event);" class="form-control" readonly></b></td>
                    <td><b><input asp-for="Prosecutionsanctionsqrs.prosesancttotalgreaterthree" onkeypress="return isnumberkey(event);" class="form-control" readonly></b></td>
                    <td><b><input asp-for="Prosecutionsanctionsqrs.prosesancttotalthreetosix" onkeypress="return isnumberkey(event);" class="form-control" readonly></b></td>
                    <td><b><input asp-for="Prosecutionsanctionsqrs.prosesancttotallesssix" onkeypress="return isnumberkey(event);" class="form-control" readonly></b></td>
                </tr>


            </tbody>
        </table>
    </div>


    <div class="center w-70 mt-2">
        <p><sup><span style="color: red;">**</span></sup> Also see explanation appended at the end for equivalent categories of officers in organisations.</p>
    </div>


    <div class="w-80 mt-5 mb-3 box-green ">
        <b>
            3.1(B) Details of cases pending for Prosecution sanctions beyond 3 months
        </b>
    </div>

    <div class="w-75 m-auto">
        <table class="table table-striped table-bordered w-100 text-align-middle table-blue table-padding">
            <tbody>
                <tr style="margin-top:10px;">
                    <td width="15%" align="left" valign="middle">
                        Age wise Pendency:
                    </td>
                    <td width="35%" align="left">
                        <span class="d-flex">
                            @* <input id="name_of_officer" onkeypress="return isNumberKey(event);" name="totalOfficer" style="float:left;width:25%" type="number" class="form-control" maxlength="3"> *@
                            <input type="button" id="add-row-prosec" class=" btn btn-outline-primary ms-1" value="Add Row" style="width: 12%">
                        </span>
                        <input id="totRows" name="totRows" type="hidden" value="@Model.Agewisependency.Count">
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <table id="officerNumber-prosec" path="ageWisePendingDto" class="table table-striped table-bordered  text-align-middle ">
                            <thead>
                                <tr class="text-center">
                                    <th style="width:1%"><b>S.No.</b></th>
                                    <th style="width:15%"><b>CBI FIR No.</b></th>
                                    <th style="width:15%"><b>Name &amp; Designation of officer</b></th>
                                    <th style="width:13%"><b>Date of recommendation by Investigating Agency</b></th>
                                    <th style="width:13%"><b>Date of receipt of recommendation/request</b></th>
                                    <th style="width:14%"><b>Sanction sought under PC Act/IPC/other Laws</b></th>
                                    <th style="width:14%"><b>Status of request/Reasons for pendency</b></th>
                                    <th style="width:14%"><b>Name &amp; designation of authority with whom pending</b></th>
                                    <th style="width:1%"><b>Action</b></th>
                                </tr>
                            </thead>
                            <tbody id="prosec-container">
                                @for (int i = 0; i < Model.Agewisependency.Count; i++)
                                {
                                    <tr class="text-center">
                                        <td>@(i + 1)</td> <!-- Serial number column -->
                                        <td>
                                            <label class="control-label"></label>
                                            <span>@Model.Agewisependency[i].prosependingcbifirno</span>
                                        </td>
                                        <td>
                                            <label class="control-label"></label>
                                            <span>@Model.Agewisependency[i].prosependingnamedesig</span>
                                        </td>
                                        <td>
                                            <label class="control-label"></label>
                                            <span>@Model.Agewisependency[i].prosependingdaterecommend</span>
                                        </td>
                                        <td>
                                            <label class="control-label"></label>
                                            <span>@Model.Agewisependency[i].prosependingdatereceipt</span>
                                        </td>
                                        <td>
                                            <label class="control-label"></label>
                                            <span>@Model.Agewisependency[i].prosependingsanctionpc</span>
                                        </td>
                                        <td>
                                            <label class="control-label"></label>
                                            <span>@Model.Agewisependency[i].prosependingstatusrequest</span>
                                        </td>
                                        <td>
                                            <label class="control-label"></label>
                                            <span>@Model.Agewisependency[i].prosependingnameauthority</span>
                                        </td>
                                        <td>
                                            <a href="" class="btn btn-outline-danger" onclick="confirmDel('@Url.Action("DeleteAgeWisePendency", new { pend_id = @Model.Agewisependency[@i].pend_id })'); return false;">Delete</a>
                                        </td>
                                    </tr>
                                }
                                <tr class="text-center d-none" id="newAgeWiseRow">
                                    <td>@(Model.Agewisependency.Count + 1)</td> <!-- Serial number column -->
                                    <td>
                                        <input asp-for='NewAgewisependency.prosependingcbifirno' class='form-control' type='text' />
                                    </td>
                                    <td>
                                        <input asp-for='NewAgewisependency.prosependingnamedesig' class='form-control' type='text' />
                                    </td>
                                    <td>
                                        <input asp-for='NewAgewisependency.prosependingdaterecommend' class='form-control ' type='date' />
                                    </td>
                                    <td>
                                        <input asp-for='NewAgewisependency.prosependingdatereceipt' class='form-control ' type='date' />
                                    </td>

                                    <td>
                                        <input asp-for='NewAgewisependency.prosependingsanctionpc' class='form-control' type='text' />

                                    </td>
                                    <td>
                                        <input asp-for='NewAgewisependency.prosependingstatusrequest' class='form-control' type='text' />

                                    <td>
                                        <input asp-for='NewAgewisependency.prosependingnameauthority' class='form-control' type='text' />

                                    </td>
                                    <td>
                                        <input type="submit" value="Save" class="btn btn-success" asp-action="SaveProsecutionSanctions" onclick="return validateFields()" />
                                        <input type="submit" value="Delete" class="btn btn-outline-danger mt-1" onclick="hideRow()" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="w-80 mt-5 mb-3 box-green ">
        <b>
            3.2 Suspension on Vigilance / Corruption Grounds - Category A- Officers under CVC jurisdiction
        </b>
    </div>

    <div class="w-80 mt-2 mb-3 box-green ">
        <b>
            3.2(A) Details regarding suspension (Nos )
        </b>
    </div>

    <div class="w-75 m-auto">
        <table class="table table-striped table-bordered w-100 text-align-middle table-blue table-padding">
            <tbody>
                <tr class="text-center">
                    <th rowspan="2"><b>Nos. of officers under suspension at the beginning of quarter</b></th>
                    <th rowspan="2"><b>Suspensions ordered during the quarter</b></th>
                    <th rowspan="2"><b>Total</b><br>3=(1+2)</th>
                    <th rowspan="2"><b>Suspension revoked during the quarter</b></th>
                    <th rowspan="2"><b>Nos. of officers under suspension at the end of quarter</b><br>5=(3 - 4)</th>

                </tr>
                <tr></tr>
                <tr class="text-center tr-grey">
                    <td>&nbsp;<b>(1)</b></td>
                    <td>&nbsp;<b>(2)</b></td>
                    <td>&nbsp;<b>(3)</b></td>
                    <td>&nbsp;<b>(4)</b></td>
                    <td>&nbsp;<b>(5)</b></td>
                </tr>
                <tr>
                    <td>
                        <b>
                            <input asp-for="Prosecutionsanctionsqrs.prosevigiofficersuspension" class="form-control" readonly />
                            <span asp-validation-for="Prosecutionsanctionsqrs.prosevigiofficersuspension" class="text-danger"></span>
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="Prosecutionsanctionsqrs.prosevigisuspensionordered" class="form-control" />
                            <span asp-validation-for="Prosecutionsanctionsqrs.prosevigisuspensionordered" class="text-danger"></span>
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="Prosecutionsanctionsqrs.prosevigitotal" class="form-control" readonly />
                            <span asp-validation-for="Prosecutionsanctionsqrs.prosevigitotal" class="text-danger"></span>
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="Prosecutionsanctionsqrs.prosevigisuspensionqtr" class="form-control" />
                            <span asp-validation-for="Prosecutionsanctionsqrs.prosevigisuspensionqtr" class="text-danger"></span>
                        </b>
                    </td>
                    <td>
                        <b>
                            <input asp-for="Prosecutionsanctionsqrs.prosevigisuspensionendqtr" class="form-control" readonly />
                            <span asp-validation-for="Prosecutionsanctionsqrs.prosevigisuspensionendqtr" class="text-danger"></span>
                        </b>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
    <div class="center w-70 mt-2">
        <p><sup><span style="color: red;">*</span></sup> Include number of officers falling under CVC jurisdiction- Category A officers only.</p>
    </div>

    <div class="d-flex justify-content-between w-80 m-auto mt-5">
        <a class="btn btn-secondary" asp-action="VigilanceInvestigation">Back</a>
        <input type="submit" value="Save" class="btn btn-success" asp-action="SaveProsecutionSanctions" onclick="return VERIFY_SAVE_PROSANC()" />
        <input type="submit" value="Next" class="btn btn-primary " onclick="return VERIFY_NEXT_PROSANC()" />
    </div>


</form>




@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        document.getElementById('add-row-prosec').addEventListener('click', function () {
            //
            $('#NewAgewisependency_prosependingcbifirno').attr('required', true);
            $('#NewAgewisependency_prosependingnamedesig').attr('required', true);
            $('#NewAgewisependency_prosependingsanctionpc').attr('required', true);
            $('#NewAgewisependency_prosependingstatusrequest').attr('required', true);
            $('#NewAgewisependency_prosependingnameauthority').attr('required', true);
            $('#newAgeWiseRow').removeClass('d-none');
            $('#add-row-prosec').removeClass('btn-outline-primary');
            $('#add-row-prosec').addClass('btn-outline-secondary');
            $('#add-row-prosec').addClass('disabled');

        });

        function hideRow() {
            event.preventDefault();
            $('#NewAgewisependency_prosependingcbifirno').removeAttr('required');
            $('#NewAgewisependency_prosependingnamedesig').removeAttr('required');
            $('#NewAgewisependency_prosependingsanctionpc').removeAttr('required');
            $('#NewAgewisependency_prosependingstatusrequest').removeAttr('required');
            $('#NewAgewisependency_prosependingnameauthority').removeAttr('required');
            $('#newAgeWiseRow').addClass('d-none');
            $('#add-row-prosec').addClass('btn-outline-primary');
            $('#add-row-prosec').removeClass('btn-outline-secondary');
            $('#add-row-prosec').removeClass('disabled');

        };

    </script>

    <script>

        $(function () {
            var complaintsMessage = '@ViewBag.ComplaintsMessage';
            if (complaintsMessage) {
                var notificationIcon;

                if (complaintsMessage == 'Saved' || complaintsMessage == 'Deleted successfully') {
                    notificationIcon = 'success'
                }

                if (complaintsMessage.includes('Error')) {
                    notificationIcon = 'error'
                }

                Swal.fire({
                    // title: complaintsMessage,
                    text: complaintsMessage,
                    icon: notificationIcon,
                    confirmButtonText: 'Okay'
                }).then((result) => {
                    if (result.isConfirmed) {
                        pageReloadWithoutQueryString();
                    } else {
                        // Optional: Handle cancel action
                    }
                });
            }
            performComTotal();
        });

        $('#Prosecutionsanctionsqrs_prosevigisuspensionqtr, #Prosecutionsanctionsqrs_prosevigisuspensionordered, #Prosecutionsanctionsqrs_Prosecutionsanctionsqrs_prosesanctjslesssix,#Prosecutionsanctionsqrs_prosesanctgroupalesssix,#Prosecutionsanctionsqrs_prosesanctgroupblesssix,#Prosecutionsanctionsqrs_prosesanctgroupclesssix, #Prosecutionsanctionsqrs_prosesanctjsthreetosix,#Prosecutionsanctionsqrs_prosesanctgroupathreetosix,#Prosecutionsanctionsqrs_prosesanctgroupcthreetosix,#Prosecutionsanctionsqrs_prosesanctgroupbthreetosix,#Prosecutionsanctionsqrs_prosesanctjsgreaterthree, #Prosecutionsanctionsqrs_prosesanctgroupagreaterthree,#Prosecutionsanctionsqrs_prosesanctgroupbgreaterthree,#Prosecutionsanctionsqrs_prosesanctgroupcgreaterthree,#Prosecutionsanctionsqrs_prosesanctjsgreaterthree,#Prosecutionsanctionsqrs_prosesanctgroupbbalancepending, #Prosecutionsanctionsqrs_prosesanctgroupcbalancepending,#Prosecutionsanctionsqrs_prosesanctjsbalancepending,#Prosecutionsanctionsqrs_prosesanctgroupabalancepending,#Prosecutionsanctionsqrs_prosesanctgroupasanctionrefused,#Prosecutionsanctionsqrs_prosesanctjssanctionrefused, #Prosecutionsanctionsqrs_prosesanctjssanctiongranted, #Prosecutionsanctionsqrs_prosesanctgroupasanctiongranted,#Prosecutionsanctionsqrs_prosesanctgroupbsanctionrefused, #Prosecutionsanctionsqrs_prosesanctgroupbsanctiongranted, #Prosecutionsanctionsqrs_prosesanctgroupcsanctionrefused, #Prosecutionsanctionsqrs_prosesanctgroupcsanctiongranted, #Prosecutionsanctionsqrs_prosesanctjsreciveqtr ,#Prosecutionsanctionsqrs_prosesanctgroupareciveqtr ,#Prosecutionsanctionsqrs_prosesanctgroupbreciveqtr ,#Prosecutionsanctionsqrs_prosesanctgroupcreciveqtr').on('input', performComTotal);


        function performComTotal() {

            $('#Prosecutionsanctionsqrs_prosesancttotalopeningbalance ').val((parseFloat($('#Prosecutionsanctionsqrs_prosesanctjsopeningbalance').val()) || 0) + (parseFloat($('#Prosecutionsanctionsqrs_prosesanctgroupaopeningbalance').val()) || 0) + (parseFloat($('#Prosecutionsanctionsqrs_prosesanctgroupbopeningbalance').val()) || 0) + (parseFloat($('#Prosecutionsanctionsqrs_prosesanctgroupcopeningbalance').val()) || 0));
            $('#Prosecutionsanctionsqrs_prosesancttotalreciveqtr').val((parseFloat($('#Prosecutionsanctionsqrs_prosesanctjsreciveqtr').val()) || 0) + (parseFloat($('#Prosecutionsanctionsqrs_prosesanctgroupareciveqtr').val()) || 0) + (parseFloat($('#Prosecutionsanctionsqrs_prosesanctgroupbreciveqtr').val()) || 0) + (parseFloat($('#Prosecutionsanctionsqrs_prosesanctgroupcreciveqtr').val()) || 0));

            $('#Prosecutionsanctionsqrs_prosesanctgroupctotal').val((parseFloat($('#Prosecutionsanctionsqrs_prosesanctgroupcreciveqtr').val()) || 0) + (parseFloat($('#Prosecutionsanctionsqrs_prosesanctgroupcopeningbalance').val()) || 0));
            $('#Prosecutionsanctionsqrs_prosesanctgroupbtotal').val((parseFloat($('#Prosecutionsanctionsqrs_prosesanctgroupbreciveqtr').val()) || 0) + (parseFloat($('#Prosecutionsanctionsqrs_prosesanctgroupbopeningbalance').val()) || 0));
            $('#Prosecutionsanctionsqrs_prosesanctgroupatotal').val((parseFloat($('#Prosecutionsanctionsqrs_prosesanctgroupareciveqtr').val()) || 0) + (parseFloat($('#Prosecutionsanctionsqrs_prosesanctgroupaopeningbalance').val()) || 0));
            $('#Prosecutionsanctionsqrs_prosesanctjstotal').val((parseFloat($('#Prosecutionsanctionsqrs_prosesanctjsreciveqtr').val()) || 0) + (parseFloat($('#Prosecutionsanctionsqrs_prosesanctjsopeningbalance').val()) || 0));

            $('#Prosecutionsanctionsqrs_prosesancttotal').val((parseFloat($('#Prosecutionsanctionsqrs_prosesanctjstotal').val()) || 0) + (parseFloat($('#Prosecutionsanctionsqrs_prosesanctgroupatotal').val()) || 0) + (parseFloat($('#Prosecutionsanctionsqrs_prosesanctgroupbtotal').val()) || 0) + (parseFloat($('#Prosecutionsanctionsqrs_prosesanctgroupctotal').val()) || 0));


            $('#Prosecutionsanctionsqrs_prosesancttotalsanctiongranted').val((parseFloat($('#Prosecutionsanctionsqrs_prosesanctjssanctiongranted').val()) || 0) + (parseFloat($('#Prosecutionsanctionsqrs_prosesanctgroupasanctiongranted').val()) || 0) + (parseFloat($('#Prosecutionsanctionsqrs_prosesanctgroupbsanctiongranted').val()) || 0) + (parseFloat($('#Prosecutionsanctionsqrs_prosesanctgroupcsanctiongranted').val()) || 0));
            $('#Prosecutionsanctionsqrs_prosesancttotalsanctionrefused').val((parseFloat($('#Prosecutionsanctionsqrs_prosesanctjssanctionrefused').val()) || 0) + (parseFloat($('#Prosecutionsanctionsqrs_prosesanctgroupasanctionrefused').val()) || 0) + (parseFloat($('#Prosecutionsanctionsqrs_prosesanctgroupbsanctionrefused').val()) || 0) + (parseFloat($('#Prosecutionsanctionsqrs_prosesanctgroupcsanctionrefused').val()) || 0));

            $('#Prosecutionsanctionsqrs_prosesanctgroupcbalancepending').val((parseFloat($('#Prosecutionsanctionsqrs_prosesanctgroupctotal').val()) || 0) - ((parseFloat($('#Prosecutionsanctionsqrs_prosesanctgroupcsanctiongranted').val()) || 0) + (parseFloat($('#Prosecutionsanctionsqrs_prosesanctgroupcsanctionrefused').val()) || 0)));
            $('#Prosecutionsanctionsqrs_prosesanctgroupbbalancepending').val((parseFloat($('#Prosecutionsanctionsqrs_prosesanctgroupbtotal').val()) || 0) - ((parseFloat($('#Prosecutionsanctionsqrs_prosesanctgroupbsanctiongranted').val()) || 0) + (parseFloat($('#Prosecutionsanctionsqrs_prosesanctgroupbsanctionrefused').val()) || 0)));
            $('#Prosecutionsanctionsqrs_prosesanctgroupabalancepending').val((parseFloat($('#Prosecutionsanctionsqrs_prosesanctgroupatotal').val()) || 0) - ((parseFloat($('#Prosecutionsanctionsqrs_prosesanctgroupasanctiongranted').val()) || 0) + (parseFloat($('#Prosecutionsanctionsqrs_prosesanctgroupasanctionrefused').val()) || 0)));
            $('#Prosecutionsanctionsqrs_prosesanctjsbalancepending').val((parseFloat($('#Prosecutionsanctionsqrs_prosesanctjstotal').val()) || 0) - ((parseFloat($('#Prosecutionsanctionsqrs_prosesanctjssanctiongranted').val()) || 0) + (parseFloat($('#Prosecutionsanctionsqrs_prosesanctjssanctionrefused').val()) || 0)));


            $('#Prosecutionsanctionsqrs_prosesancttotalbalancepending').val((parseFloat($('#Prosecutionsanctionsqrs_prosesanctjsbalancepending').val()) || 0) + (parseFloat($('#Prosecutionsanctionsqrs_prosesanctgroupabalancepending').val()) || 0) + (parseFloat($('#Prosecutionsanctionsqrs_prosesanctgroupbbalancepending').val()) || 0) + (parseFloat($('#Prosecutionsanctionsqrs_prosesanctgroupcbalancepending').val()) || 0));
            $('#Prosecutionsanctionsqrs_prosesancttotalgreaterthree').val((parseFloat($('#Prosecutionsanctionsqrs_prosesanctjsgreaterthree').val()) || 0) + (parseFloat($('#Prosecutionsanctionsqrs_prosesanctgroupagreaterthree').val()) || 0) + (parseFloat($('#Prosecutionsanctionsqrs_prosesanctgroupbgreaterthree').val()) || 0) + (parseFloat($('#Prosecutionsanctionsqrs_prosesanctgroupcgreaterthree').val()) || 0));
            $('#Prosecutionsanctionsqrs_prosesancttotalthreetosix').val((parseFloat($('#Prosecutionsanctionsqrs_prosesanctjsthreetosix').val()) || 0) + (parseFloat($('#Prosecutionsanctionsqrs_prosesanctgroupathreetosix').val()) || 0) + (parseFloat($('#Prosecutionsanctionsqrs_prosesanctgroupbthreetosix').val()) || 0) + (parseFloat($('#Prosecutionsanctionsqrs_prosesanctgroupcthreetosix').val()) || 0));
            $('#Prosecutionsanctionsqrs_prosesancttotallesssix').val((parseFloat($('#Prosecutionsanctionsqrs_prosesanctjslesssix').val()) || 0) + (parseFloat($('#Prosecutionsanctionsqrs_prosesanctgroupalesssix').val()) || 0) + (parseFloat($('#Prosecutionsanctionsqrs_prosesanctgroupblesssix').val()) || 0) + (parseFloat($('#Prosecutionsanctionsqrs_prosesanctgroupclesssix').val()) || 0));

            $('#Prosecutionsanctionsqrs_prosevigitotal').val((parseFloat($('#Prosecutionsanctionsqrs_prosevigisuspensionordered').val()) || 0) + (parseFloat($('#Prosecutionsanctionsqrs_prosevigiofficersuspension').val()) || 0));

            $('#Prosecutionsanctionsqrs_prosevigisuspensionendqtr').val((parseFloat($('#Prosecutionsanctionsqrs_prosevigitotal').val()) || 0) - (parseFloat($('#Prosecutionsanctionsqrs_prosevigisuspensionqtr').val()) || 0));
        }


    </script>

    <script>
        $("#Prosecutionsanctionsqrs_prosesanctgroupcsanctiongranted, #Prosecutionsanctionsqrs_prosesanctgroupcsanctionrefused").on("keyup", function () {
            var total = 0;
            $("#Prosecutionsanctionsqrs_prosesanctgroupcsanctiongranted, #Prosecutionsanctionsqrs_prosesanctgroupcsanctionrefused").each(function () {
                // Convert to float and default to 0 if NaN
                var value = parseFloat($(this).val()) || 0;
                total += value;
            });
            if (total != parseFloat($("#Prosecutionsanctionsqrs_prosesanctgroupctotal").val())) {
                Swal.fire({
                    toast: true,
                    position: 'top-end', // Position of the toast
                    icon: 'info', // Type of icon (success, error, warning, info)
                    title: 'Total can not be greater than : ' + parseFloat($("#Prosecutionsanctionsqrs_prosesanctgroupctotal").val()),
                    showConfirmButton: false,
                    timer: 3000, // Duration in milliseconds
                });
            }
            if (total > parseFloat($("#Prosecutionsanctionsqrs_prosesanctgroupctotal").val())) {
                $("#Prosecutionsanctionsqrs_prosesanctgroupcsanctiongranted, #Prosecutionsanctionsqrs_prosesanctgroupcsanctionrefused").each(function () {
                    // Convert to float and default to 0 if NaN
                    $(this).val(0);
                });
            }
            performComTotal();
        })
        $("#Prosecutionsanctionsqrs_prosesanctgroupbsanctionrefused, #Prosecutionsanctionsqrs_prosesanctgroupbsanctiongranted").on("keyup", function () {
            var total = 0;
            $("#Prosecutionsanctionsqrs_prosesanctgroupbsanctionrefused, #Prosecutionsanctionsqrs_prosesanctgroupbsanctiongranted").each(function () {
                // Convert to float and default to 0 if NaN
                var value = parseFloat($(this).val()) || 0;
                total += value;
            });
            if (total != parseFloat($("#Prosecutionsanctionsqrs_prosesanctgroupbtotal").val())) {
                Swal.fire({
                    toast: true,
                    position: 'top-end', // Position of the toast
                    icon: 'info', // Type of icon (success, error, warning, info)
                    title: 'Total must be equal to: ' + parseFloat($("#Prosecutionsanctionsqrs_prosesanctgroupbtotal").val()),
                    showConfirmButton: false,
                    timer: 3000, // Duration in milliseconds
                });
            }
            if (total > parseFloat($("#Prosecutionsanctionsqrs_prosesanctgroupbtotal").val())) {
                $("#Prosecutionsanctionsqrs_prosesanctgroupbsanctionrefused, #Prosecutionsanctionsqrs_prosesanctgroupbsanctiongranted").each(function () {
                    // Convert to float and default to 0 if NaN
                    $(this).val(0);
                });
            }
            performComTotal();
        });

        $("#Prosecutionsanctionsqrs_prosesanctgroupasanctionrefused, #Prosecutionsanctionsqrs_prosesanctgroupasanctiongranted").on("keyup", function () {
            var total = 0;
            $("#Prosecutionsanctionsqrs_prosesanctgroupasanctionrefused, #Prosecutionsanctionsqrs_prosesanctgroupasanctiongranted").each(function () {
                // Convert to float and default to 0 if NaN
                var value = parseFloat($(this).val()) || 0;
                total += value;
            });
            if (total != parseFloat($("#Prosecutionsanctionsqrs_prosesanctgroupatotal").val())) {
                Swal.fire({
                    toast: true,
                    position: 'top-end', // Position of the toast
                    icon: 'info', // Type of icon (success, error, warning, info)
                    title: 'Total of (5) + (6) must be equal to: ' + parseFloat($("#Prosecutionsanctionsqrs_prosesanctgroupatotal").val()),
                    showConfirmButton: false,
                    timer: 3000, // Duration in milliseconds
                });
            }
            if (total > parseFloat($("#Prosecutionsanctionsqrs_prosesanctgroupatotal").val())) {
                $("#Prosecutionsanctionsqrs_prosesanctgroupasanctionrefused, #Prosecutionsanctionsqrs_prosesanctgroupasanctiongranted").each(function () {
                    // Convert to float and default to 0 if NaN
                    $(this).val(0);
                });
            }
            performComTotal();
        });

        $("#Prosecutionsanctionsqrs_prosesanctjssanctiongranted, #Prosecutionsanctionsqrs_prosesanctjssanctionrefused").on("keyup", function () {
            var total = 0;
            $("#Prosecutionsanctionsqrs_prosesanctjssanctiongranted, #Prosecutionsanctionsqrs_prosesanctjssanctionrefused").each(function () {
                // Convert to float and default to 0 if NaN
                var value = parseFloat($(this).val()) || 0;
                total += value;
            });
            if (total != parseFloat($("#Prosecutionsanctionsqrs_prosesanctjstotal").val())) {
                Swal.fire({
                    toast: true,
                    position: 'top-end', // Position of the toast
                    icon: 'info', // Type of icon (success, error, warning, info)
                    title: 'Total must be equal to: ' + parseFloat($("#Prosecutionsanctionsqrs_prosesanctjstotal").val()),
                    showConfirmButton: false,
                    timer: 3000, // Duration in milliseconds
                });
            }
            if (total > parseFloat($("#Prosecutionsanctionsqrs_prosesanctjstotal").val())) {
                $("#Prosecutionsanctionsqrs_prosesanctjssanctiongranted, #Prosecutionsanctionsqrs_prosesanctjssanctionrefused").each(function () {
                    // Convert to float and default to 0 if NaN
                    $(this).val(0);
                });
            }
            performComTotal();
        });

        $("#Prosecutionsanctionsqrs_prosevigisuspensionqtr").on("keyup", function () {
            if (parseFloat($("#Prosecutionsanctionsqrs_prosevigisuspensionqtr").val()) > parseFloat($("#Prosecutionsanctionsqrs_prosevigitotal").val())) {
                Swal.fire({
                    toast: true,
                    position: 'top-end', // Position of the toast
                    icon: 'info', // Type of icon (success, error, warning, info)
                    title: 'Suspension revoked during the quarter cannot be greater than Total: ' + parseFloat($("#Prosecutionsanctionsqrs_prosevigitotal").val()),
                    showConfirmButton: false,
                    timer: 3000, // Duration in milliseconds
                });
            }
            if (parseFloat($("#Prosecutionsanctionsqrs_prosevigisuspensionqtr").val()) > parseFloat($("#Prosecutionsanctionsqrs_prosevigitotal").val())) {
                $("#Prosecutionsanctionsqrs_prosevigisuspensionqtr").val($("#Prosecutionsanctionsqrs_prosevigitotal").val());
            }
            performComTotal();
        });

        $('#Prosecutionsanctionsqrs_prosesanctgroupcgreaterthree,#Prosecutionsanctionsqrs_prosesanctgroupcthreetosix,#Prosecutionsanctionsqrs_prosesanctgroupclesssix').on('blur', function () {
           
            var total = 0;
            $(
                "#Prosecutionsanctionsqrs_prosesanctgroupcgreaterthree,#Prosecutionsanctionsqrs_prosesanctgroupcthreetosix,#Prosecutionsanctionsqrs_prosesanctgroupclesssix"
            ).each(function () {
                // Convert to float and default to 0 if NaN
                var value = parseFloat($(this).val()) || 0;
                total += value;
            });
            var val = parseFloat($('#Prosecutionsanctionsqrs_prosesanctgroupcbalancepending').val());
            if (val > total) {
                Swal.fire({
                    toast: true,
                    position: 'top-end', // Position of the toast
                    icon: 'info', // Type of icon (success, error, warning, info)
                    title: `Total must be equal to: ${val}`,
                    showConfirmButton: false,
                    timer: 3000, // Duration in milliseconds
                });
            }
            if (val < total) {
                Swal.fire({
                    toast: true,
                    position: 'top-end', // Position of the toast
                    icon: 'info', // Type of icon (success, error, warning, info)
                    title: `Total must be equal to: ${val}`,
                    showConfirmButton: false,
                    timer: 3000, // Duration in milliseconds
                });
                $(
                    "#Prosecutionsanctionsqrs_prosesanctgroupcgreaterthree,#Prosecutionsanctionsqrs_prosesanctgroupcthreetosix,#Prosecutionsanctionsqrs_prosesanctgroupclesssix"
                ).each(function () {
                    // Convert to float and default to 0 if NaN
                    $(this).val(0)
                });
            }

        })

        $('#Prosecutionsanctionsqrs_prosesanctgroupbgreaterthree,#Prosecutionsanctionsqrs_prosesanctgroupbthreetosix,#Prosecutionsanctionsqrs_prosesanctgroupblesssix').on('blur', function () {
            
            var total = 0;
            $(
                "#Prosecutionsanctionsqrs_prosesanctgroupbgreaterthree,#Prosecutionsanctionsqrs_prosesanctgroupbthreetosix,#Prosecutionsanctionsqrs_prosesanctgroupblesssix"
            ).each(function () {
                // Convert to float and default to 0 if NaN
                var value = parseFloat($(this).val()) || 0;
                total += value;
            });
            var val = parseFloat($('#Prosecutionsanctionsqrs_prosesanctgroupbbalancepending').val());
            if (val > total) {
                Swal.fire({
                    toast: true,
                    position: 'top-end', // Position of the toast
                    icon: 'info', // Type of icon (success, error, warning, info)
                    title: `Total must be equal to: ${val}`,
                    showConfirmButton: false,
                    timer: 3000, // Duration in milliseconds
                });
            }
            if (val < total) {
                Swal.fire({
                    toast: true,
                    position: 'top-end', // Position of the toast
                    icon: 'info', // Type of icon (success, error, warning, info)
                    title: `Total must be equal to: ${val}`,
                    showConfirmButton: false,
                    timer: 3000, // Duration in milliseconds
                });
                $(
                    "#Prosecutionsanctionsqrs_prosesanctgroupbgreaterthree,#Prosecutionsanctionsqrs_prosesanctgroupbthreetosix,#Prosecutionsanctionsqrs_prosesanctgroupblesssix"
                ).each(function () {
                    // Convert to float and default to 0 if NaN
                    $(this).val(0)
                });
            }

        })


        function CHECK_PROS_SANC_GROUP_B() {
            var total = 0;
            $(
                "#Prosecutionsanctionsqrs_prosesanctgroupbgreaterthree,#Prosecutionsanctionsqrs_prosesanctgroupbthreetosix,#Prosecutionsanctionsqrs_prosesanctgroupblesssix"
            ).each(function () {
                // Convert to float and default to 0 if NaN
                var value = parseFloat($(this).val()) || 0;
                total += value;
            });
            var val = parseFloat(
                $("#Prosecutionsanctionsqrs_prosesanctgroupbbalancepending").val()
            );
            if (total != val) {
                SAVE_FLAG = false;
                return false;
            }
        }

        $('#Prosecutionsanctionsqrs_prosesanctgroupagreaterthree,#Prosecutionsanctionsqrs_prosesanctgroupathreetosix,#Prosecutionsanctionsqrs_prosesanctgroupalesssix').on('blur', function () {
            
            var total = 0;
            $(
                "#Prosecutionsanctionsqrs_prosesanctgroupagreaterthree,#Prosecutionsanctionsqrs_prosesanctgroupathreetosix,#Prosecutionsanctionsqrs_prosesanctgroupalesssix"
            ).each(function () {
                // Convert to float and default to 0 if NaN
                var value = parseFloat($(this).val()) || 0;
                total += value;
            });
            var val = parseFloat($('#Prosecutionsanctionsqrs_prosesanctgroupabalancepending').val());
            if (val > total) {
                Swal.fire({
                    toast: true,
                    position: 'top-end', // Position of the toast
                    icon: 'info', // Type of icon (success, error, warning, info)
                    title: `Total must be equal to: ${val}`,
                    showConfirmButton: false,
                    timer: 3000, // Duration in milliseconds
                });
            }
            if (val < total) {
                Swal.fire({
                    toast: true,
                    position: 'top-end', // Position of the toast
                    icon: 'info', // Type of icon (success, error, warning, info)
                    title: `Total must be equal to: ${val}`,
                    showConfirmButton: false,
                    timer: 3000, // Duration in milliseconds
                });
                $(
                    "#Prosecutionsanctionsqrs_prosesanctgroupagreaterthree,#Prosecutionsanctionsqrs_prosesanctgroupathreetosix,#Prosecutionsanctionsqrs_prosesanctgroupalesssix"
                ).each(function () {
                    // Convert to float and default to 0 if NaN
                    $(this).val(0)
                });
            }

        })


        function CHECK_PROS_SANC_GROUP_A() {
            var total = 0;
            $(
                "#Prosecutionsanctionsqrs_prosesanctgroupagreaterthree,#Prosecutionsanctionsqrs_prosesanctgroupathreetosix,#Prosecutionsanctionsqrs_prosesanctgroupalesssix"
            ).each(function () {
                // Convert to float and default to 0 if NaN
                var value = parseFloat($(this).val()) || 0;
                total += value;
            });
            var val = parseFloat(
                $("#Prosecutionsanctionsqrs_prosesanctgroupabalancepending").val()
            );
            if (total != val) {
                SAVE_FLAG = false;
                return false;
            }
        }

        $('#Prosecutionsanctionsqrs_prosesanctjsgreaterthree,#Prosecutionsanctionsqrs_prosesanctjsthreetosix,#Prosecutionsanctionsqrs_prosesanctjslesssix').on('blur', function () {
            var total = 0;
            $(
                "#Prosecutionsanctionsqrs_prosesanctjsgreaterthree,#Prosecutionsanctionsqrs_prosesanctjsthreetosix,#Prosecutionsanctionsqrs_prosesanctjslesssix"
            ).each(function () {
                // Convert to float and default to 0 if NaN
                var value = parseFloat($(this).val()) || 0;
                total += value;
            });
            var val = parseFloat($('#Prosecutionsanctionsqrs_prosesanctjsbalancepending').val());
            if (val > total) {
                Swal.fire({
                    toast: true,
                    position: 'top-end', // Position of the toast
                    icon: 'info', // Type of icon (success, error, warning, info)
                    title: `Total must be equal to: ${val}`,
                    showConfirmButton: false,
                    timer: 3000, // Duration in milliseconds
                });
            }
            if (val < total) {
                Swal.fire({
                    toast: true,
                    position: 'top-end', // Position of the toast
                    icon: 'info', // Type of icon (success, error, warning, info)
                    title: `Total must be equal to: ${val}`,
                    showConfirmButton: false,
                    timer: 3000, // Duration in milliseconds
                });
                $(
                    "#Prosecutionsanctionsqrs_prosesanctjsgreaterthree,#Prosecutionsanctionsqrs_prosesanctjsthreetosix,#Prosecutionsanctionsqrs_prosesanctjslesssix"
                ).each(function () {
                    // Convert to float and default to 0 if NaN
                    $(this).val(0)
                });
            }

        })


        function CHECK_PROS_SANC_JS_ABOVE() {
            var total = 0;
            $(
                "#Prosecutionsanctionsqrs_prosesanctjsgreaterthree,#Prosecutionsanctionsqrs_prosesanctjsthreetosix,#Prosecutionsanctionsqrs_prosesanctjslesssix"
            ).each(function () {
                // Convert to float and default to 0 if NaN
                var value = parseFloat($(this).val()) || 0;
                total += value;
            });
            var val = parseFloat(
                $("#Prosecutionsanctionsqrs_prosesanctjsbalancepending").val()
            );
            if (total != val) {
                SAVE_FLAG = false;
                return false;
            }
        }

        function blocksave() {
            var tot = parseFloat($('#Prosecutionsanctionsqrs_prosesancttotalthreetosix').val()) || 0
            tot += parseFloat($('#Prosecutionsanctionsqrs_prosesancttotallesssix').val()) || 0;
            var AgewisependencyCount = parseFloat('@Model.Agewisependency.Count') || 0;
            if (AgewisependencyCount != tot) {
                Swal.fire({
                    toast: true,
                    position: 'top-end', // Position of the toast
                    icon: 'info', // Type of icon (success, error, warning, info)
                    title: 'Total 3.1(B) Age Wise Pendency Details Records must be equal to : ' + tot,
                    showConfirmButton: false,
                    timer: 5000, // Duration in milliseconds
                });
                SAVE_FLAG = false;
                return false;
            } 
            // else {
            //     return true;
            // }
        }

        var SAVE_FLAG = true;

        function SAVE_CHECK() {
            debugger;
            SAVE_FLAG = true;
            // blocksave();
            CHECK_PROS_SANC_GROUP_C();
            CHECK_PROS_SANC_GROUP_B();
            CHECK_PROS_SANC_GROUP_A();
            CHECK_PROS_SANC_JS_ABOVE();
            return SAVE_FLAG;
        }

        function VERIFY_SAVE_PROSANC() {
            if (SAVE_CHECK()) {
                return validateFields();
            }
            else {
                Swal.fire({
                    toast: true,
                    position: 'top-end', // Position of the toast
                    icon: 'info', // Type of icon (success, error, warning, info)
                    title: 'Please verify the data. Something is wrong.',
                    showConfirmButton: false,
                    timer: 3000, // Duration in milliseconds
                });
                return false;
            }
        }
        function VERIFY_NEXT_PROSANC() {
            if (SAVE_CHECK()) {
                return confirmFormSubmission('ProsecutionSanctionsQPRForm');
            }
            else {
                Swal.fire({
                    toast: true,
                    position: 'top-end', // Position of the toast
                    icon: 'info', // Type of icon (success, error, warning, info)
                    title: 'Please verify the data. Something is wrong.',
                    showConfirmButton: false,
                    timer: 3000, // Duration in milliseconds
                });
                return false;
            }
        }
        // function SAVE_CHECK() {
        //     if (blocksave) {
        //         return validateFields();
        //     } else {
        //         return false;
        //     }
        // }

        // function blockNext() {
        //     if (blocksave()) {
        //         return confirmFormSubmission('ProsecutionSanctionsQPRForm')
        //     } else {
        //         return false;
        //     }
        // }


        function CHECK_PROS_SANC_GROUP_C() {
            var total = 0;
            $(
                "#Prosecutionsanctionsqrs_prosesanctgroupcgreaterthree,#Prosecutionsanctionsqrs_prosesanctgroupcthreetosix,#Prosecutionsanctionsqrs_prosesanctgroupclesssix"
            ).each(function () {
                // Convert to float and default to 0 if NaN
                var value = parseFloat($(this).val()) || 0;
                total += value;
            });
            var val = parseFloat(
                $("#Prosecutionsanctionsqrs_prosesanctgroupcbalancepending").val()
            );
            if (total != val) {
                SAVE_FLAG = false;
                return false;
            }
        }
    </script>

}