@model QPR_Application.Models.ViewModels.StatusOfPendencyViewModel;

@{
    ViewData["Title"] = "StatusofPendencyFIandCACases";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="text-center">
    <h3>Status of Pendency FI and CA Cases</h3>
</div>
<hr />


<form asp-action="StatusofPendencyFIandCACases">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="center w-70 mt-2">
        <p>
            (FI cases refer to those where Commission has asked for
            further information/clarification and the departmental reply is
            awaited. CA cases refer to those where the CBI has submitted the
            SP’s report and the comments of Department/Organisation are
            yet to be received by the Commission. CVOs can access these lists
            online after login into CVC website under the tab ‘
            CVO’s corner’ or obtain the same from the Commission)
        </p>
    </div>


    <div class="w-80 mt-3 mb-3 box-green ">
        <b>
            6.(A) FI Cases (further information/Clarification to be furnished to the Commission) (Nos.)
        </b>
    </div>

    <div class="w-75 m-auto">
        <table class="table table-striped table-bordered w-100 text-align-middle table-blue table-padding">
            <tbody>
                <tr></tr>
                <tr class="text-center">
                    <th rowspan="2"><b>B/F from previous quarter</b></th>
                    <th rowspan="2"><b>Added during the quarter </b></th>
                    <th rowspan="2"><b>Total</b><br>3=(1+2)</th>
                    <th rowspan="2">
                        <b>
                            Reply furnished to the Commission during
                            the quarter
                        </b>
                    </th>
                    <th rowspan="2"><b>Reply pending</b><br>5=(3-4)</th>
                    <th colspan="4"><b>Age wise Pendency of reply(Months) </b><br>5=(6+7+8+9)</th>
                </tr>
                <tr class="text-center">
                    <th>&lt;3</th>
                    <th>3-6</th>
                    <th>6-12</th>
                    <th>&gt;1yr</th>
                </tr>
                <tr class="text-center tr-grey">
                    <td>&nbsp;<b>(1)</b></td>
                    <td>&nbsp;<b>(2)</b></td>
                    <td>&nbsp;<b>(3)</b></td>
                    <td>&nbsp;<b>(4)</b></td>
                    <td>&nbsp;<b>(5)</b></td>
                    <td>&nbsp;<b>(6)</b></td>
                    <td>&nbsp;<b>(7)</b></td>
                    <td>&nbsp;<b>(8)</b></td>
                    <td>&nbsp;<b>(9)</b></td>
                </tr>
                <tr>
                    <td><b><input asp-for="StatusOfPendency.pendency_status_fi_previousqtr" onkeypress="return isNumberKey(event);" class="form-control" readonly></b></td>
                    <td><b><input asp-for="StatusOfPendency.pendency_status_fi_addduringqtr" onkeypress="return isNumberKey(event);" class="form-control"></b></td>
                    <td><b><input asp-for="StatusOfPendency.pendency_status_fi_total" onkeypress="return isNumberKey(event);" class="form-control " readonly></b></td>
                    <td><b><input asp-for="StatusOfPendency.pendency_status_fi_reply_commission" onkeypress="return isNumberKey(event);" class="form-control  "></b></td>
                    <td><b><input asp-for="StatusOfPendency.pendency_status_fi_reply_pending" onkeypress="return isNumberKey(event);" class="form-control " readonly></b></td>
                    <td><b><input asp-for="StatusOfPendency.pendency_status_fi_greaterthree" onkeypress="return isNumberKey(event);" class="form-control"></b></td>
                    <td><b><input asp-for="StatusOfPendency.pendency_status_fi_threetosix" onkeypress="return isNumberKey(event);" class="form-control"></b></td>
                    <td><b><input asp-for="StatusOfPendency.pendency_status_fi_sixtotwelve" onkeypress="return isNumberKey(event);" class="form-control"></b></td>
                    <td><b><input asp-for="StatusOfPendency.pendency_status_fi_lessone" onkeypress="return isNumberKey(event);" class="form-control"></b></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="w-75 m-auto">
        <table class="table table-striped table-bordered w-100 text-align-middle table-blue table-padding">
            <tbody>
                <tr style="margin-top: 10px;">
                    <td width="15%" align="left" valign="middle">
                        Details of FI Cases:
                    </td>
                    <td width="35%" align="left">
                        <span class="d-flex">
                            @* <input path="" class="form-control" type="number" maxlength="3" id="name_of_officer" style="float:left;width:25%" onkeypress="return isNumberKey(event);"> *@
                            <input type="button" class="add-row-status-pendency btn btn-outline-primary ms-1" value="Add" style="width: 10%;">
                            <input path="" type="hidden" id="totRows" value="@Model.FiCasesQPRs.Count">
                        </span>
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <table id="officerNumber-status-pendency" width="100%" border="1" align="center" cellpadding="10" cellspacing="1" class="table table-striped table-bordered text-align-middle">
                            <thead>
                                <tr class="text-center">
                                    <th rowspan="2"><b>S. No.</b></th>
                                    <th rowspan="2"><b>CVC case registration No.[CVO,CBI,OTH,CDI,REC,MIS number as given in the FL list]</b></th>
                                    <th rowspan="2"><b>CVC File No.</b></th>
                                    <th rowspan="2"><b>Date since pending</b></th>
                                    <th rowspan="2"><b>Name &amp; Designation of officers</b></th>
                                    <th rowspan="2"><b>Departmental ref. No.</b></th>
                                    <th rowspan="2"><b>Present Status</b></th>
                                    <th rowspan="2"><b>Likely date for submission of response</b></th>
                                    <th rowspan="2"><b>Remarks.</b></th>
                                    <th style="width: 1%">Delete</th>

                                </tr>
                            </thead>
                            <tbody>
                                @for(int i=0; i<Model.FiCasesQPRs.Count; i++)
                                {
                                    <tr class="text-center">
                                        <td>@(i + 1)</td> <!-- Serial number column -->
                                        <td>
                                            <label class="control-label"></label>
                                            <span>@Model.FiCasesQPRs[i].cvc_case_reg_no</span>
                                        </td>
                                        <td>
                                            <label class="control-label"></label>
                                            <span>@Model.FiCasesQPRs[i].cvc_file_no</span>
                                        </td>
                                        <td>
                                            <label class="control-label"></label>
                                            <span>@Model.FiCasesQPRs[i].date_since_pend</span>
                                        </td>
                                        <td>
                                            <label class="control-label"></label>
                                            <span>@Model.FiCasesQPRs[i].name_officer</span>
                                        </td>
                                        <td>
                                            <label class="control-label"></label>
                                            <span>@Model.FiCasesQPRs[i].dept_ref_no</span>
                                        </td>
                                        <td>
                                            <label class="control-label"></label>
                                            <span>@Model.FiCasesQPRs[i].present_status</span>
                                        </td>
                                        <td>
                                            <label class="control-label"></label>
                                            <span>@Model.FiCasesQPRs[i].submission_date</span>
                                        </td>
                                        <td>
                                            <label class="control-label"></label>
                                            <span>@Model.FiCasesQPRs[i].remark</span>
                                        </td>
                                        <td>
                                            <a href="@Url.Action("", new { pend_id = @Model.FiCasesQPRs[i].ficasesqpr_id})" class="btn btn-outline-danger" onclick="confirmDel('@Url.Action("DeleteAgeWisePendency", new { pend_id = @Model.FiCasesQPRs[@i].ficasesqpr_id})'); return false;">Delete</a>
                                        </td>
                                    </tr>
                                }
                                <tr class="text-center d-none">
                                    <!-- Serial number column -->
                                    <td>@(Model.FiCasesQPRs.Count + 1)</td>
                                    <td>
                                        <input asp-for='NewFICase.cvc_case_reg_no' class='form-control' type='text' />
                                    </td>
                                    <td>
                                        <input asp-for='NewFICase.cvc_file_no' class='form-control' type='text' />
                                    </td>
                                    <td>
                                        <input asp-for='NewFICase.date_since_pend' class='form-control' type='text' />
                                    </td>
                                    <td>
                                        <input asp-for='NewFICase.name_officer' class='form-control' type='text' />
                                    </td>
                                    <td>
                                        <input asp-for='NewFICase.dept_ref_no' class='form-control' type='text' />
                                    </td>
                                    <td>
                                        <input asp-for='NewFICase.present_status' class='form-control' type='text' />
                                    </td>
                                    <td>
                                        <input asp-for='NewFICase.submission_date' class='form-control' type='text' />
                                    </td>
                                    <td>
                                        <input asp-for='NewFICase.remark' class='form-control' type='text' />
                                    </td>
                                    <td>
                                        <input type="submit" value="Save" class="btn btn-success" asp-action="" onclick="return validateFields()" />
                                        <input type="submit" value="Delete" class="btn btn-outline-danger mt-1" onclick="hideRow()" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="w-80 mt-5 mb-3 box-green ">
        <b>
            6.(B) Comments Awaited (CA) Cases (CBI reports awaiting comments of Department/ Organization)[Nos.]
        </b>
    </div>

    <div class="w-75 m-auto">
        <table class="table table-striped table-bordered w-100 text-align-middle table-blue table-padding">
            <tbody>
                <tr class="text-center">
                    <th rowspan="2"><b>B/F from previous quarter</b></th>
                    <th rowspan="2"><b>Added during the quarter</b></th>
                    <th rowspan="2"><b>Total</b><br>3=(1+2)</th>
                    <th rowspan="2">
                        <b>
                            Comments furnished to the Commission
                            during the quarter
                        </b>
                    </th>
                    <th rowspan="2"><b>Comments Pending</b><br>5=(3-4)</th>
                    <th colspan="4"><b>Age wise Pendency of comments(Months) </b><br>5=(6+7+8+9)</th>
                </tr>
                <tr class="text-center">
                    <th>&lt;1</th>
                    <th>1-2</th>
                    <th>2-3</th>
                    <th>&gt;3</th>
                </tr>
                <tr class="text-center tr-grey">
                    <td>&nbsp;<b>(1)</b></td>
                    <td>&nbsp;<b>(2)</b></td>
                    <td>&nbsp;<b>(3)</b></td>
                    <td>&nbsp;<b>(4)</b></td>
                    <td>&nbsp;<b>(5)</b></td>
                    <td>&nbsp;<b>(6)</b></td>
                    <td>&nbsp;<b>(7)</b></td>
                    <td>&nbsp;<b>(8)</b></td>
                    <td>&nbsp;<b>(9)</b></td>
                </tr>
                <tr>
                    <td><b><input asp-for="StatusOfPendency.pendency_status_ca_previousqtr" onkeypress="return isNumberKey(event);" class="form-control" readonly></b></td>
                    <td><b><input asp-for="StatusOfPendency.pendency_status_ca_addduringqtr" onkeypress="return isNumberKey(event);" class="form-control"></b></td>
                    <td><b><input asp-for="StatusOfPendency.pendency_status_ca_total" onkeypress="return isNumberKey(event);" class="form-control" readonly></b></td>
                    <td><b><input asp-for="StatusOfPendency.pendency_status_ca_comments_commission" onkeypress="return isNumberKey(event);" class="form-control"></b></td>
                    <td><b><input asp-for="StatusOfPendency.pendency_status_ca_comments_pending" onkeypress="return isNumberKey(event);" class="form-control" readonly></b></td>
                    <td><b><input asp-for="StatusOfPendency.pendency_status_ca_greaterone" onkeypress="return isNumberKey(event);" class="form-control"></b></td>
                    <td><b><input asp-for="StatusOfPendency.pendency_status_ca_onetotwo" onkeypress="return isNumberKey(event);" class="form-control"></b></td>
                    <td><b><input asp-for="StatusOfPendency.pendency_status_ca_twotothree" onkeypress="return isNumberKey(event);" class="form-control"></b></td>
                    <td><b><input asp-for="StatusOfPendency.pendency_status_ca_lessthree" onkeypress="return isNumberKey(event);" class="form-control"></b></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="w-90 m-auto">
        <table class="table table-striped table-bordered w-100 text-align-middle table-blue table-padding">
            <tbody>
                <tr style="margin-top: 10px;">
                    <td width="15%" align="left" valign="middle">
                        Details of CA Cases:
                    </td>
                    <td width="35%" align="left">
                        <span class="d-flex">
                            @* <input path="" class="form-control" type="number" maxlength="3" id="name_of_officer1" style="float:left;width:25%" onkeypress="return isNumberKey(event);"> *@
                            <input type="button" class="add-row1 btn btn-outline-primary ms-1" value="Add" style=" margin-top: 2px; width:10%">
                            <input path="" type="hidden" id="totRows1" value="@Model.CaCasesQPRs.Count">
                        </span>
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <table id="officerNumber1" width="100%" border="1" align="center" cellpadding="10" cellspacing="1" class="table table-striped table-bordered text-align-middle">
                            <thead>
                                <tr class="text-center">
                                    <th rowspan="2"><b>S. No.</b></th>
                                    <th width="5%" rowspan="2"><b>CVC case registration No.[CVO,CBI,OTH,CDI,REC,MIS number as given in the FL list]</b></th>
                                    <th width="10%" rowspan="2"><b>CVC File No.</b></th>
                                    <th width="10%" rowspan="2"><b>Date since pending</b></th>
                                    <th rowspan="2"><b>Name &amp; Designation of officers</b></th>
                                    <th width="15%" rowspan="2"><b>Departmental ref. No.</b></th>
                                    <th width="5%" rowspan="2"><b>Present Status</b></th>
                                    <th width="10%" rowspan="2"><b>Likely date for submission of response</b></th>
                                    <th rowspan="2"><b>Remarks.</b></th>
                                    <th style="width: 1%">Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.CaCasesQPRs.Count; i++)
                                {
                                    <tr class="text-center">
                                        <td>@(i + 1)</td> <!-- Serial number column -->
                                        <td>
                                            @* <span>@Model.CaCasesQPRs[i].cvc_case_reg_no</span> *@
                                            <input asp-for="@Model.CaCasesQPRs[i].cvc_case_reg_no " class="form-control" />

                                        </td>
                                        <td>
                                            <input asp-for="@Model.CaCasesQPRs[i].cvc_file_no " class="form-control" />
                                            @* <span>@Model.CaCasesQPRs[i].cvc_file_no</span> *@
                                        </td>
                                        <td>
                                            <input asp-for="@Model.CaCasesQPRs[i].date_since_pend " class="form-control " type="date" />
                                            @* <span>@Model.CaCasesQPRs[i].date_since_pend</span> *@
                                        </td>
                                        <td>
                                            @* <span>@Model.CaCasesQPRs[i].name_officer</span> *@
                                            <input asp-for="@Model.CaCasesQPRs[i].name_officer " class="form-control" />
                                        </td>
                                        <td>
                                            <input asp-for="@Model.CaCasesQPRs[i].dept_ref_no " class="form-control" />
                                            @* <span>@Model.CaCasesQPRs[i].dept_ref_no</span> *@
                                        </td>
                                        <td>
                                            <input asp-for="@Model.CaCasesQPRs[i].present_status " class="form-control" />
                                            @* <span>@Model.CaCasesQPRs[i].present_status</span> *@
                                        </td>
                                        <td>
                                            @* <span>@Model.CaCasesQPRs[i].submission_date</span> *@
                                            <input asp-for="@Model.CaCasesQPRs[i].submission_date" class="form-control " type="date"/>
                                        </td>
                                        <td>
                                            <input asp-for="@Model.CaCasesQPRs[i].remark " class="form-control" />
                                            @* <span>@Model.CaCasesQPRs[i].remark</span> *@
                                        </td>
                                        <td>
                                            <a href="@Url.Action("", new { pend_id = @Model.CaCasesQPRs[i].cacasesqpr_id})" class="btn btn-outline-danger" onclick="confirmDel('@Url.Action("DeleteAgeWisePendency", new { pend_id = @Model.CaCasesQPRs[@i].cacasesqpr_id})'); return false;">Delete</a>
                                        </td>
                                    </tr>
                                }
                                <tr class="text-center d-none">
                                    <!-- Serial number column -->
                                    <td>@(Model.CaCasesQPRs.Count + 1)</td>
                                    <td>
                                        <input asp-for='NewCACase.cvc_case_reg_no' class='form-control' type='text' />
                                    </td>
                                    <td>
                                        <input asp-for='NewCACase.cvc_file_no' class='form-control' type='text' />
                                    </td>
                                    <td>
                                        <input asp-for='NewCACase.date_since_pend' class='form-control' type='text' />
                                    </td>
                                    <td>
                                        <input asp-for='NewCACase.name_officer' class='form-control' type='text' />
                                    </td>
                                    <td>
                                        <input asp-for='NewCACase.dept_ref_no' class='form-control' type='text' />
                                    </td>
                                    <td>
                                        <input asp-for='NewCACase.present_status' class='form-control' type='text' />
                                    </td>
                                    <td>
                                        <input asp-for='NewCACase.submission_date' class='form-control' type='text' />
                                    </td>
                                    <td>
                                        <input asp-for='NewCACase.remark' class='form-control' type='text' />
                                    </td>
                                    <td>
                                        <input type="submit" value="Save" class="btn btn-success" asp-action="" onclick="return validateFields()" />
                                        <input type="submit" value="Delete" class="btn btn-outline-danger mt-1" onclick="hideRow()" />
                                    </td>
                                </tr>


                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="w-25 m-auto text-center">

        @if (ViewBag.ComplaintsMessage != null)
        {
            @ViewBag.ComplaintsMessage
        }

    </div>

    <div class="d-flex justify-content-between w-80 m-auto mt-5">
        <a class="btn btn-secondary" asp-action="AdviceOfCVC">Back</a>
        <input type="submit" value="Save" class="btn btn-success" asp-action="SaveStatusofPendencyFIandCACases" />
        <input type="submit" value="Next" class="btn btn-primary " />
    </div>


</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
<script>

    $(function () {
        var complaintsMessage = '@ViewBag.ComplaintsMessage';
        if (complaintsMessage) {
            var notificationIcon;

            if (complaintsMessage == 'Saved' || complaintsMessage == 'Deleted successfully') {
                notificationIcon = 'success'
            }

            if (complaintsMessage.includes('Error')) {
                notificationIcon = 'error'
            }

            Swal.fire({
                // title: complaintsMessage,
                text: complaintsMessage,
                icon: notificationIcon,
                confirmButtonText: 'Okay'
            }).then((result) => {
                if (result.isConfirmed) {
                    pageReloadWithoutQueryString();
                } else {
                    // Optional: Handle cancel action
                }
            });
        }
        performComTotal();
    });

    $('#StatusOfPendency_pendency_status_fi_addduringqtr, #StatusOfPendency_pendency_status_fi_reply_commission, #StatusOfPendency_pendency_status_ca_addduringqtr, #StatusOfPendency_pendency_status_ca_comments_commission').on('input', performComTotal);


    function performComTotal() {

        $('#StatusOfPendency_pendency_status_fi_total').val((parseFloat($('#StatusOfPendency_pendency_status_fi_addduringqtr').val()) || 0) + (parseFloat($('#StatusOfPendency_pendency_status_fi_previousqtr').val()) || 0));
        $('#StatusOfPendency_pendency_status_fi_reply_pending').val((parseFloat($('#StatusOfPendency_pendency_status_fi_total').val()) || 0) - (parseFloat($('#StatusOfPendency_pendency_status_fi_reply_commission').val()) || 0));
    
        $('#StatusOfPendency_pendency_status_ca_total').val((parseFloat($('#StatusOfPendency_pendency_status_ca_addduringqtr').val()) || 0) + (parseFloat($('#StatusOfPendency_pendency_status_ca_previousqtr').val()) || 0));
        $('#StatusOfPendency_pendency_status_ca_comments_pending').val((parseFloat($('#StatusOfPendency_pendency_status_ca_total').val()) || 0) - (parseFloat($('#StatusOfPendency_pendency_status_ca_comments_commission').val()) || 0));

    }


</script>
