@model QPR_Application.Models.ViewModels.EditQPRViewModel

@{
    ViewData["Title"] = "Edit Qpr";
}

<h1>Edit Qpr</h1>

<hr />
<div class="row d-flex justify-content-center">
    <div class="col-md-4">
        <form asp-action="EditQpr">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mt-3">
                <label asp-for="qpr.userid" class="control-label"></label>
                <input asp-for="qpr.userid" class="form-control" readonly />
                <span asp-validation-for="qpr.userid" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="qpr.orgname" class="control-label"></label>
                <input asp-for="qpr.orgname" class="form-control" readonly />
                <span asp-validation-for="qpr.orgname" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="qpr.orgcode" class="control-label"></label>
                <input asp-for="qpr.orgcode" class="form-control" readonly />
                <span asp-validation-for="qpr.orgcode" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="qpr.qtrreport" class="control-label"></label>
                <input asp-for="qpr.qtrreport" class="form-control" readonly/>
                <span asp-validation-for="qpr.qtrreport" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="qpr.qtryear" class="control-label"></label>
                <input asp-for="qpr.qtryear" class="form-control" readonly />
                <span asp-validation-for="qpr.qtryear" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="qpr.contactnumberoffice" class="control-label"></label>
                <input asp-for="qpr.contactnumberoffice" class="form-control" />
                <span asp-validation-for="qpr.contactnumberoffice" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="qpr.mobilenumber" class="control-label"></label>
                <input asp-for="qpr.mobilenumber" class="form-control" />
                <span asp-validation-for="qpr.mobilenumber" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="qpr.emailid" class="control-label"></label>
                <input asp-for="qpr.emailid" class="form-control" />
                <span asp-validation-for="qpr.emailid" class="text-danger"></span>
            </div>
           @*  <div class="form-group mt-3">
                <label asp-for="qpr.fulltime" class="control-label"></label>
                <input asp-for="qpr.fulltime" class="form-control" />
                <span asp-validation-for="qpr.fulltime" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="qpr.parttime" class="control-label"></label>
                <input asp-for="qpr.parttime" class="form-control" />
                <span asp-validation-for="qpr.parttime" class="text-danger"></span>
            </div> *@
            <div class="form-group mt-3">
                <label asp-for="EmploymentType" class="control-label"></label>
                @Html.DropDownListFor(model => model.EmploymentType, ViewBag.EmploymentTypeOptions as SelectList, "Select", new { @class = "form-control" })
                <span asp-validation-for="EmploymentType" class="text-danger"></span>
            </div>

            <div class="form-group mt-3">
                <label asp-for="qpr.createdate" class="control-label"></label>
                <input asp-for="qpr.createdate" class="form-control datepicker" onkeydown="return false;" />
                <span asp-validation-for="qpr.createdate" class="text-danger"></span>
            </div>
            @Html.HiddenFor(m => m.qpr.referencenumber)
            @Html.HiddenFor(m => m.qpr.ip)
            <div class="form-group mt-3">
                <label asp-for="qpr.finalsubmit" class="control-label"></label>
                @Html.DropDownListFor(model => model.qpr.finalsubmit, ViewBag.FinalSubmitOptions as SelectList, "Select", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.qpr.finalsubmit, "", new { @class = "text-danger" })
            </div>
            <div class="form-group mt-3">
                <label asp-for="qpr.finalsubmitdate" class="control-label"></label>
                <input asp-for="qpr.finalsubmitdate" class="form-control datepicker" onkeydown="return false;" />
                <span asp-validation-for="qpr.finalsubmitdate" class="text-danger"></span>
            </div>
            <div class="form-group mt-5 d-flex mt-2">
                <a class="btn btn-secondary " asp-action="Details" asp-route-id="@Model.qpr.referencenumber">Back</a>
                <input type="submit" value="Save" class="btn btn-primary ms-auto" />
            </div>
        </form>
    </div>
</div>

<div>
    
</div>

