@model IEnumerable<QPR_Application.Models.Entities.qpr>

@{
    ViewData["Title"] = "Manage QPR";
}

<h1>QPR</h1>

<style>
    td {
        align-content: center !important
    }
</style>

<div class="table-responsive">
    <table id="example1" class="table table-striped table-bordered pt-1 ">
        <thead class="table-primary">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.userid)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.orgname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.orgcode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.qtrreport)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.qtryear)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.referencenumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.mobilenumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.createdate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.finalsubmit)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.finalsubmitdate)
                </th>
                <th class="d-md-table-cell">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.userid)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.orgname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.orgcode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.qtrreport)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.qtryear)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.referencenumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.mobilenumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.createdate)
                    </td>
                    <td>
                        @if (item.finalsubmit == "t")
                        {
                            <div class="btn btn-primary disabled">Submitted</div>
                        }
                        else if (item.finalsubmit == "f")
                        {
                            <div class="btn btn-secondary disabled">Not Submitted</div>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.finalsubmitdate)
                    </td>
                    <td>
                        @* <a class="btn btn-outline-primary" asp-action="EditQpr" asp-route-id="@item.referencenumber">Edit</a> | *@
                        <a class="btn btn-outline-secondary" asp-action="Details" asp-route-id="@item.referencenumber">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>